:root {
  --image-placeholder: url(/static/website/global/styles/images/imagePlaceholder.png);
  --star: url(/static/website/global/styles/icons/star.png);
  --star-empty: url(/static/website/global/styles/icons/star-empty.png);

  --user-icon-black: url(/static/website/global/styles/icons/user-black.png);
  --search-icon-black: url(/static/website/global/styles/icons/search-black.png);
  --theme-icon-black: url(/static/website/global/styles/icons/dark.png);
  --arrow-left-icon-black: url(/static/website/global/styles/icons/arrow-left-black.png);
  --arrow-right-icon-black: url(/static/website/global/styles/icons/arrow-right-black.png);
  --listen-black: url(/static/website/global/styles/icons/listen-black.png);
  --comment-black: url(/static/website/global/styles/icons/comment-black.png);
  --rate-black: url(/static/website/global/styles/icons/rate-black.png);
  --share-black: url(/static/website/global/styles/icons/share-black.png);
  --facebook-black: url(/static/website/global/styles/icons/facebook-black.png);
  --twitter-black: url(/static/website/global/styles/icons/twitter-black.png);
  --instagram-black: url(/static/website/global/styles/icons/instagram-black.png);
  --linkedin-black: url(/static/website/global/styles/icons/linkedin-black.png);
  --whatsapp-black: url(/static/website/global/styles/icons/whatsapp-black.png);
  --tiktok-black: url(/static/website/global/styles/icons/tiktok-black.png);
  --copy-black: url(/static/website/global/styles/icons/copy-black.png);
  --play-black: url(/static/website/global/styles/icons/play-black.png);
  --pause-black: url(/static/website/global/styles/icons/pause-black.png);
  --seek-back-black: url(/static/website/global/styles/icons/seek-back-black.png);
  --seek-forward-black: url(/static/website/global/styles/icons/seek-forward-black.png);
  --repeat-black: url(/static/website/global/styles/icons/repeat-black.png);
  --restart-black: url(/static/website/global/styles/icons/stop-black.png);
  --logo-256: url(/static/website/global/styles/images/logo-256.png);
  --logo-128: url(/static/website/global/styles/images/logo-128.png);
  --symbol-512: url(/static/website/global/styles/images/symbol-512.png);
  --symbol-256: url(/static/website/global/styles/images/symbol-256.png);
  --language-icon: url(/static/website/global/styles/icons/languages.png);
  --not-found: url(/static/website/global/styles/illustrations/not-found.png);
  --internal-server-error: url(/static/website/global/styles/illustrations/internal-server-error.png);

  --user-icon-white: url(/static/website/global/styles/icons/user-white.png);
  --search-icon-white: url(/static/website/global/styles/icons/search-white.png);
  --theme-icon-white: url(/static/website/global/styles/icons/light.png);
  --listen-white: url(/static/website/global/styles/icons/listen-white.png);
  --comment-white: url(/static/website/global/styles/icons/comment-white.png);
  --rate-white: url(/static/website/global/styles/icons/rate-white.png);
  --share-white: url(/static/website/global/styles/icons/share-white.png);
  --arrow-left-icon-white: url(/static/website/global/styles/icons/arrow-left-white.png);
  --arrow-right-icon-white: url(/static/website/global/styles/icons/arrow-right-white.png);
  --facebook-white: url(/static/website/global/styles/icons/facebook-white.png);
  --twitter-white: url(/static/website/global/styles/icons/twitter-white.png);
  --instagram-white: url(/static/website/global/styles/icons/instagram-white.png);
  --linkedin-white: url(/static/website/global/styles/icons/linkedin-white.png);
  --whatsapp-white: url(/static/website/global/styles/icons/whatsapp-white.png);
  --tiktok-white: url(/static/website/global/styles/icons/tiktok-white.png);
  --copy-white: url(/static/website/global/styles/icons/copy-white.png);
  --play-white: url(/static/website/global/styles/icons/play-white.png);
  --pause-white: url(/static/website/global/styles/icons/pause-white.png);
  --seek-back-white: url(/static/website/global/styles/icons/seek-back-white.png);
  --seek-forward-white: url(/static/website/global/styles/icons/seek-forward-white.png);
  --repeat-white: url(/static/website/global/styles/icons/repeat-white.png);
  --restart-white: url(/static/website/global/styles/icons/stop-white.png);
  --logo-256-white: url(/static/website/global/styles/images/logo-256-white.png);
  --logo-128-white: url(/static/website/global/styles/images/logo-128-white.png);
  --symbol-512-white: url(/static/website/global/styles/images/symbol-512-white.png);
  --symbol-256-white: url(/static/website/global/styles/images/symbol-256-white.png);
}

:root {
  --primaryColor: #111111;
  --primaryVarientColor: #444444;

  --secondaryColor: #f9f9f9;
  --secondaryVarientColor: #dfdfdf;

  --accentColor: #ffb006;

  --body-bg-color: #eef7fe;
  --overlay-color: #f9f9fe;
  --bg-color: #f7f7f7;
  --bg-gradient: linear-gradient(180deg, #fed700 0%, #fed700 100%);

  /*Icons*/
  --star: url(/static/website/global/styles/icons/star.png);
  --star-empty: url(/static/website/global/styles/icons/star-empty.png);
  --user-icon: var(--user-icon-white);
  --search-icon: var(--search-icon-white);
  --theme-icon: var(--theme-icon-black);
  --arrow-left-icon: var(--arrow-left-icon-white);
  --arrow-right-icon: var(--arrow-right-icon-white);
  --listen: var(--listen-black);
  --comment: var(--comment-black);
  --rate: var(--rate-black);
  --share: var(--share-black);
  --facebook: var(--facebook-black);
  --twitter: var(--twitter-black);
  --instagram: var(--instagram-black);
  --linkedin: var(--linkedin-black);
  --whatsapp: var(--whatsapp-black);
  --tiktok: var(--tiktok-black);
  --copy: var(--copy-white);
  --repeat: var(--repeat-black);
  --seek-back: var(--seek-back-black);
  --seek-forward: var(--seek-forward-black);
  --pause: var(--pause-black);
  --play: var(--play-black);
  --restart: var(--restart-black);
  --language: var(--language-icon);

  /*Images*/
}

[data-theme="dark"] {
  --primaryColor: rgb(249, 249, 249);
  --primaryVarientColor: rgb(223, 223, 223);

  --secondaryColor: rgb(17, 17, 17);
  --secondaryVarientColor: rgb(68, 68, 68);

  --accentColor: #ffb006;

  --body-bg-color: #0b1623;
  --overlay-color: rgb(17, 17, 17, 0.4);
  --bg-color: #0b1629;
  --bg-gradient: linear-gradient(180deg, #fed700 0%, #fed700 100%);

  /*Icons*/
  --user-icon: var(--user-icon-black);
  --search-icon: var(--search-icon-black);
  --theme-icon: var(--theme-icon-white);
  --arrow-left-icon: var(--arrow-left-icon-black);
  --arrow-right-icon: var(--arrow-right-icon-black);
  --listen: var(--listen-white);
  --comment: var(--comment-white);
  --rate: var(--rate-white);
  --share: var(--share-white);
  --facebook: var(--facebook-black);
  --twitter: var(--twitter-black);
  --instagram: var(--instagram-black);
  --linkedin: var(--linkedin-black);
  --whatsapp: var(--whatsapp-black);
  --tiktok: var(--tiktok-black);
  --copy: var(--copy-black);
  --repeat: var(--repeat-white);
  --seek-back: var(--seek-back-white);
  --seek-forward: var(--seek-forward-white);
  --pause: var(--pause-white);
  --play: var(--play-white);
  --restart: var(--restart-white);
  --language: var(--language-icon);

  /*Images*/
}

@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    transition: 250ms ease;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    transition: 250ms ease;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.5);
    transition: 250ms ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--accentColor);
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background: var(--bg-gradient);
    background-repeat: no-repeat;
  }

  header {
    width: 100%;
    aspect-ratio: 20/1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 5%;
    background-color: var(--body-bg-color);
  }

  header a {
    font-weight: 900;
    font-size: 2vw;
    font-family: var(--pff);
    color: var(--accentColor);
    text-decoration: none;
  }

  header #nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1.5;
    column-gap: 0.5vw;
  }

  header #nav .header-nav-item {
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: 700;
    font-size: 1vw;
    opacity: 0.75;
    font-family: var(--sff);
    transition: 500ms ease;
  }

  header #nav .header-nav-item:hover {
    opacity: 1;
  }

  header #nav .header-nav-item.active {
    opacity: 1;
    color: var(--accentColor);
    font-weight: 900;
  }

  header div#options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1vw;
  }

  header div#options div.drawer-btn{
    display: none;
  }

  .header-dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .header-dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--body-bg-color);
    border-radius: 12px;
    width: 40vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 500ms ease;
    flex-direction: row;
    padding: 0.25vw 0.4vw;
    align-items: center;
    justify-content: center;
  }

  .header-dropdown:hover .header-dropdown-content {
    display: flex;
  }

  .user.header-dropdown-content,
  .lang.header-dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--body-bg-color);
    border-radius: 12px;
    max-width: 8vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 500ms ease;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .main-icon-button#lang {
    transition: 250ms ease;
  }

  .user.header-dropdown:hover .main-icon-button#user,
  .lang.header-dropdown:hover .main-icon-button#lang,
  .main-icon-button#lang:hover {
    background-color: var(--accentColor);
  }

  /* Links inside the dropdown */
  .user.header-dropdown-content button,
  .lang.header-dropdown-content button {
    color: var(--primaryColor);
    text-decoration: none;
    display: block;
    padding: 0.5vw 1vw;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user.header-dropdown-content button.active,
  .lang.header-dropdown-content button.active {
    color: var(--body-bg-color);
    background-color: var(--accentColor);
    font-weight: 700;
    text-decoration: none;
    border-radius: 0.5vw;
  }

  /* Default */
.theme {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.theme__fill,
.theme__icon {
  transition: 0.3s;
}

.theme__fill {
  background-color: var(--bg);
  display: block;
  mix-blend-mode: difference;
  position: fixed;
  inset: 0;
  height: 100%;
  transform: translateX(-100%);
}

.theme__icon,
.theme__toggle {
  z-index: 1;
}

.theme__icon,
.theme__icon-part {
  position: absolute;
}

.theme__icon {
  display: block;
  top: 0.5em;
  left: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

.theme__icon-part {
  border-radius: 50%;
  box-shadow: 0.4em -0.4em 0 0.5em hsl(0,0%,100%) inset;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  transition: box-shadow var(--transDur) ease-in-out,
    opacity var(--transDur) ease-in-out,
    transform var(--transDur) ease-in-out;
  transform: scale(0.5);
}

.theme__icon-part ~ .theme__icon-part {
  background-color: hsl(0,0%,100%);
  border-radius: 0.05em;
  top: 50%;
  left: calc(50% - 0.05em);
  transform: rotate(0deg) translateY(0.5em);
  transform-origin: 50% 0;
  width: 0.1em;
  height: 0.2em;
}

.theme__icon-part:nth-child(3) {
  transform: rotate(45deg) translateY(0.45em);
}

.theme__icon-part:nth-child(4) {
  transform: rotate(90deg) translateY(0.45em);
}

.theme__icon-part:nth-child(5) {
  transform: rotate(135deg) translateY(0.45em);
}

.theme__icon-part:nth-child(6) {
  transform: rotate(180deg) translateY(0.45em);
}

.theme__icon-part:nth-child(7) {
  transform: rotate(225deg) translateY(0.45em);
}

.theme__icon-part:nth-child(8) {
  transform: rotate(270deg) translateY(0.5em);
}

.theme__icon-part:nth-child(9) {
  transform: rotate(315deg) translateY(0.5em);
}

.theme__label,
.theme__toggle,
.theme__toggle-wrap {
  position: relative;
}

.theme__toggle,
.theme__toggle:before {
  display: block;
}

.theme__toggle {
  background-color: hsl(48,90%,85%);
  border-radius: 25% / 50%;
  box-shadow: 0 0 0 0.125em var(--primaryT);
  padding: 0.25em;
  width: 6em;
  height: 3em;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color var(--transDur) ease-in-out,
    box-shadow 0.15s ease-in-out,
    transform var(--transDur) ease-in-out;
}

.theme__toggle:before {
  background-color: hsl(48,90%,55%);
  border-radius: 50%;
  content: "";
  width: 2.5em;
  height: 2.5em;
  transition: 0.3s;
}

.theme__toggle:focus {
  box-shadow: 0 0 0 0.125em var(--primary);
  outline: transparent;
}

/* Checked */
.theme__toggle:checked {
  background-color: hsl(198,90%,15%);
}

.theme__toggle:checked:before,
.theme__toggle:checked ~ .theme__icon {
  transform: translateX(3em);
}

.theme__toggle:checked:before {
  background-color: hsl(198,90%,55%);
}

.theme__toggle:checked ~ .theme__fill {
  transform: translateX(0);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(1) {
  box-shadow: 0.2em -0.2em 0 0.2em hsl(0,0%,100%) inset;
  transform: scale(1);
  top: 0.2em;
  left: -0.2em;
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part ~ .theme__icon-part {
  opacity: 0;
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(2) {
  transform: rotate(45deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(3) {
  transform: rotate(90deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(4) {
  transform: rotate(135deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(5) {
  transform: rotate(180deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(6) {
  transform: rotate(225deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(7) {
  transform: rotate(270deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(8) {
  transform: rotate(315deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(9) {
  transform: rotate(360deg) translateY(0.8em);
}

.theme__toggle-wrap {
  margin: 0 0.75em;
}

@supports selector(:focus-visible) {
  .theme__toggle:focus {
    box-shadow: 0 0 0 0.125em var(--primaryT);
  }

  .theme__toggle:focus-visible {
    box-shadow: 0 0 0 0.125em var(--primary);
  }
}

  .single-line-field {
    width: 100%;
    min-height: 3vw;
    max-height: 3vw;
    display: flex;
    padding: 8px 16px;
    border-radius: 12px;
    background-color: var(--bg-color);
    font-family: var(--sff);
    outline: none;
    border: none;
    color: var(--primaryVarientColor);
    border: none;
  }

  .single-line-field::-webkit-outer-spin-button,
  .single-line-field::-webkit-inner-spin-button {
    display: none;
  }

  .single-line-field.error {
    border: 2px red solid;
  }

  .mutli-line-field {
    color: var(--primaryVarientColor);
    width: 100%;
    min-height: 8vw;
    max-height: 8vw;
    resize: none;
    display: flex;
    padding: 8px 16px;
    border-radius: 12px;
    background-color: var(--bg-color);
    outline: none;
    border: none;
    font-family: var(--sff);
  }

  .single-line-field-awhite {
    width: 100%;
    height: 3vw;
    display: flex;
    padding: 8px 16px;
    border-radius: 12px;
    background-color: white;
    color: #111;
    outline: none;
    border: none;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25vw;
    flex-direction: row;
  }

  .checkbox-container label {
    font-size: 1vw;
    font-family: var(--sff);
    color: var(--primaryColor);
    cursor: pointer;
  }

  .main-button {
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25vw;
    color: var(--bg-color);
    background-color: var(--accentColor);
    text-decoration: none;
    font-family: var(--sff);
    border: 1px var(--accentColor) solid;
    transition: 500ms ease;
    cursor: pointer;
  }

  .main-button:hover {
    background-color: transparent;
    color: var(--accentColor);
  }

  .shadow-button {
    background-color: transparent;
    border: none;
    font-family: var(--sff);
    font-size: 1vw;
    color: var(--accentColor);
    cursor: pointer;
    text-decoration: underline;
  }

  .main-icon-button {
    padding: 8px;
    border-radius: 50%;
    background-color: var(--primaryColor);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shadow-icon-button {
    padding: 8px;
    border: none;
    cursor: pointer;
  }

  .shadow-icon-button > i,
  .main-icon-button > i {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 900;
    font-size: 1.5vw;
    font-family: var(--pff);
    color: var(--secondaryColor);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-icon-button.collabsed {
    padding: 0;
    border-radius: 50%;
    background-color: var(--primaryColor);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-icon-button.collabsed > i {
    width: 0;
    height: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: 900;
    font-size: 1.5vw;
    font-family: var(--pff);
    color: var(--secondaryColor);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  i.user {
    background-image: var(--user-icon);
  }

  i.search {
    background-image: var(--search-icon);
  }

  i.theme {
    background-image: var(--theme-icon);
  }

  i.arrow-left-icon {
    background-image: var(--arrow-left-icon);
  }

  i.arrow-right-icon {
    background-image: var(--arrow-right-icon);
  }

  i.arrow-right-icon {
    background-image: var(--arrow-right-icon);
  }

  i.listen {
    background-image: var(--listen);
  }

  i.comment {
    background-image: var(--comment);
  }

  i.share {
    background-image: var(--share);
  }

  i.rate {
    background-image: var(--rate);
  }

  i.facebook {
    background-image: var(--facebook);
  }

  i.linkedin {
    background-image: var(--linkedin);
  }

  i.whatsapp {
    background-image: var(--whatsapp);
  }

  i.tiktok {
    background-image: var(--tiktok);
  }

  i.instagram {
    background-image: var(--instagram);
  }

  i.twitter {
    background-image: var(--twitter);
  }

  i.copy {
    background-image: var(--copy);
  }

  i.start {
    background-image: var(--play);
  }

  i.pause {
    background-image: var(--pause);
  }

  i.restart {
    background-image: var(--restart);
  }

  i.seek-back {
    background-image: var(--seek-back);
  }

  i.seek-forward {
    background-image: var(--seek-forward);
  }

  i.repeat {
    background-image: var(--repeat);
  }

  i.lang {
    background-image: var(--language);
  }

  i.star {
    background-image: var(--star);
  }

  i.star-empty {
    background-image: var(--star-empty);
  }

  .footer-row#categories {
    width: 100%;
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }

  .categories-column {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 8px;
  }

  .categories-column > label {
    font-family: var(--pff);
    font-size: 1.5vw;
    color: white;
  }

  .categories-column > p {
    font-family: var(--pff);
    font-size: 0.9vw;
    color: ghostwhite;
  }

  .categories-column > .categories-column-tabs {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6px;
    column-gap: 12px;
  }

  .categories-column-tabs a {
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--sff);
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    transition: 500ms ease;
  }

  .categories-column-tabs a:hover {
    color: rgba(255, 255, 255, 1);
  }

  #search-dialog-overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    z-index: 150;
    background-color: transparent;
    transition: 250ms ease;
  }

  .dialog-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 150;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .dialog {
    border-radius: 12px;
    width: 80%;
    height: 40vw;
    display: flex;
    z-index: 151;
    position: fixed;
    top: 50%;
    transition: 500ms ease;
    left: 50%;
    transform: translate(-50%, -250%);
    background: var(--bg-gradient);
  }

  .dialog > #overlay {
    background: var(--overlay-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    padding: 8px 16px;
  }

  .dialog .header {
    width: 100%;
    max-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 12px 0;
  }

  .dialog .header h3 {
    font-family: var(--pff);
    color: var(--primaryColor);
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5vw;
  }

  .dialog .header div {
    font-family: var(--pff);
    font-weight: 900;
    font-size: 1vw;
    color: var(--primaryColor);
    cursor: pointer;
  }

  .dialog #body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    overflow-y: auto;
    padding: 8px;
  }
  #search-dialog {
    max-width: 50%;
  }

  #search-dialog #search-options {
    width: 100%;
    max-height: 20vw;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  #search-options button {
    cursor: pointer;
  }

  #field-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  #search-dialog-categories {
    width: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 8px;
    margin-top: 16px;
  }

  .search-dialog-categories-column {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .parent-cat {
    font-weight: 700;
    font-size: 1.15vw;
    font-family: var(--pff);
    cursor: pointer;
    color: var(--primaryColor);
    text-decoration: none;
  }

  .inner-cat {
    font-weight: 700;
    font-size: 1vw;
    font-family: var(--sff);
    cursor: pointer;
    color: var(--primaryVarientColor);
    text-decoration: none;
    transition: 250ms ease;
  }

  .inner-cat:hover {
    color: var(--primaryColor);
  }

  .search-dialog-categories-column p {
    font-weight: 500;
    font-size: 0.75vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
    text-decoration: none;
  }

  #search-dialog #trending-articles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 16px;
    gap: 8px;
  }

  #search-dialog #trending-articles-body {
    width: 100%;
    display: grid;
    align-items: center;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
    column-gap: 8px;
    padding-bottom: 16px;
  }

  .blog-card {
    width: 100%;
    max-width: 20vw;
    height: 35vw;
    border-radius: 12px;
    padding: 12px 12px;
    background-color: var(--bg-color);
    display: flex;
    align-items: start;
    justify-content: start;
    transition: 500ms ease;
    cursor: pointer;
    flex-direction: column;
    gap: 1vw;
  }

  .blog-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px 1px var(--accentColor);
  }

  .blog-card .cover {
    min-width: 100%;
    min-height: 50%;
    display: flex;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./images/coursePH.png);
  }

  .blog-card h2 {
    font-size: 1.5em;
    color: var(--accentColor);
    font-family: var(--sff);
  }

  .blog-card p {
    font-size: 1em;
    color: var(--primaryVarientColor);
    font-family: var(--sff);
  }

  .blog-card .information {
    width: 70%;
    max-height: 1vw;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vw;
    flex-direction: row;
  }

  .blog-card .information div {
    display: flex;
    height: 100%;
    gap: 0.5vw;
    flex-direction: row;
  }

  .blog-card .information-snippet i {
    width: 1vw;
    height: 1vw;
    color: var(--accentColor);
  }

  .blog-card .rating div span {
    color: var(--accentColor);
  }

  .blog-card p {
    font-size: 12px;
    color: var(--primaryVarientColor);
  }

  .blog-card .actions {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    display: flex;
  }

  .blog-card .actions button {
    border-radius: 50%;
    font-size: 1em;
    color: var(--accentColor);
    background-color: transparent;
    width: 48px;
    height: 48px;
    font-weight: 100;
    border: none;
    transition: 500ms ease;
    cursor: pointer;
  }

  .blog-card:hover button#action {
    background-color: var(--accentColor);
    color: var(--body-bg-color);
  }

  .product-card {
    width: 100%;
    max-width: 20vw;
    height: 30vw;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--body-bg-color);
    border-radius: 12px;
    padding: 1vw;
    transition: 500ms ease;
    border: 1px var(--body-bg-color) solid;
    gap: 1vw;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
  }

  .product-card:hover {
    transform: scale(1.05);
    border: 1px var(--accentColor) solid;
    box-shadow: 0 0 30px 1px var(--accentColor);
  }

  .product-card .cover {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 25px;
    background: var(--accentColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .product-card .cover img {
    width: 100%;
    height: 100%;
    object-position: cover;
    object-fit: cover;
  }

  .product-card .info {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
  }

  .product-card .information {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .product-card .information div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5vw;
  }

  .product-card .information div i {
    color: var(--accentColor);
  }

  .product-card .info {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .product-card .info h4 {
    font-weight: 700;
    font-size: 1.25vw;
    font-family: var(--sff);
    color: var(--accentColor);
  }

  .product-card .info p.bio {
    font-weight: 300;
    font-size: 0.85vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
    margin: 1.5vw 0;
  }

  .product-card .information p {
    font-weight: 300;
    font-size: 0.85vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
  }

  .product-card .info p.category {
    font-weight: 300;
    font-size: 0.85vw;
    font-family: var(--sff);
    color: var(--accentColor);
  }

  .product-card .price-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    margin-top: 2vw;
  }

  .product-card .price-container .price-title {
    font-weight: 100;
    font-size: 0.75vw;
    font-family: var(--sff);
    color: var(--primaryColor);
    transform: rotate(265deg);
    opacity: 0.5;
    margin-right: -0.5vw;
  }

  .product-card .price-container .price {
    font-weight: 700;
    font-size: 1.5vw;
    font-family: var(--sff);
    color: var(--accentColor);
  }

  .product-card .actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap:  1vw;
  }

  .product-card .actions .main-button {
    font-size: 0.75vw;
  }

  .product-card .actions .shadow-button {
    font-size: 0.65vw;
  }

  footer {
    width: 100%;
    height: 20vw;
    display: flex;
    background-color: #00131f;
    flex-direction: row;
    padding: 5vw 5%;
    column-gap: 5vw;
  }

  footer .footer-column {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  footer .footer-column#column-one {
    align-items: start;
    width: 30%;
    justify-content: center;
    row-gap: 2vw;
  }

  footer .footer-column#column-one #logo {
    width: 15vw;
    content: var(--logo-256);
    object-fit: contain;
  }

  footer .footer-column#column-one #footer-msg h4 {
    font-weight: 500;
    font-size: 1vw;
    font-family: var(--sff);
    color: rgba(255, 255, 255, 0.75);
    margin-top: -5vw;
  }

  footer .footer-column#column-two {
    width: 70%;
    height: 100%;
    min-height: 14vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  footer .footer-column#column-two #tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 5%;
  }

  .footer-tabs-item {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1vw;
    opacity: 0.75;
    font-family: var(--sff);
    transition: 500ms ease;
  }

  .footer-tabs-item:hover {
    opacity: 1;
  }

  .footer-tabs-item.active {
    opacity: 1;
    color: var(--accentColor);
    font-weight: 900;
  }

  .footer-column#column-two #contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 5%;
    column-gap: 4vw;
  }

  .footer-column#column-two #contact #social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
    color: var(--accentColor);
  }

  .footer-column#column-two #contact #social-media a {
    color: var(--accentColor);
    text-decoration: none;
  }

  .footer-column#column-two #contact #contact-info {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    row-gap: 1vw;
  }

  .footer-column#column-two #contact #contact-info div#contact-info-snippet {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    column-gap: 1vw;
  }

  .footer-column#column-two #contact #contact-info div#contact-info-snippet i {
    color: var(--accentColor);
  }

  .footer-column#column-two #contact #contact-info div#contact-info-snippet p {
    font-weight: 300;
    font-size: 0.75vw;
    font-family: var(--sff);
    color: rgba(255, 255, 255, 0.5);
  }

  .footer-column#column-two #contact #links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.5vw;
  }

  .footer-column#column-two #contact #links a {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 1vw;
    font-family: var(--sff);
    transition: 250ms ease;
  }
  .footer-column#column-two #contact #links a:hover {
    color: rgba(255, 255, 255, 1);
  }

  .footer-column#column-two #copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-column#column-two #copyright p {
    font-weight: 300;
    font-size: 0.75vw;
    font-family: var(--sff);
    color: rgba(255, 255, 255, 1);
  }

  .main-article-card-border:hover {
    padding: 4px;
  }

  .main-article-card-border:hover .main-article-card .cover {
    transform: scale(1.1);
  }

  .main-article-card-border {
    width: 100%;
    height: 30vw;
    display: flex;
    background: var(--bg-gradient);
    align-items: center;
    justify-content: center;
    transition: 250ms ease;
    border-radius: 12px;
  }

  .main-article-card {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 12px;
    padding: 8px;
  }

  .main-article-card .cover-wrapper {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 12px;
  }

  .main-article-card .cover {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primaryColor);
    transition: 500ms ease;
  }

  .main-article-card .classification {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin: 8px 0;
    gap: 8px;
  }

  .main-article-card .classification h4 {
    padding: 4px;
    background: var(--bg-gradient);
    color: white;
    font-family: var(--pff);
    font-size: 0.75vw !important;
    border-radius: 4px;
  }

  .main-article-card h3 {
    font-weight: 700;
    font-size: 1.25vw !important;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .main-article-card p {
    font-weight: 300;
    font-size: 0.75vw !important;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
  }

  .main-article-card .content {
    width: 100% !important;
    display: flex;
    flex-direction: column !important;
    padding: 0 !important;
  }

  .select-menu {
    width: 100%;
    display: flex;
  }

  .select-menu .select-btn {
    display: flex;
    background: var(--bg-color);
    padding: 1vw 2vw;
    font-size: 1vw;
    font-weight: 300;
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    font-family: var(--sff);
    color: var(--primaryColor);
    transition: 500ms ease;
    width: 100%;
  }

  .select-menu .select-btn:hover {
    box-shadow: 0 0 5px var(--accentColor);
  }

  .select-menu .options {
    position: absolute;
    width: 30vw;
    overflow-y: auto;
    max-height: 40vw;
    padding: 0.5vw 1vw;
    margin-top: 3.5vw;
    border-radius: 12px;
    background: var(--bg-color);
    box-shadow: 0 0 10px var(--accentColor);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
    display: none;
  }

  .select-menu .options .option {
    display: flex;
    cursor: pointer;
    padding: 1vw 2vw;
    border-radius: 16px;
    align-items: center;
    background: var(--bg-color);
    color: var(--primaryColor);
    font-family: var(--sff);
    transition: 500ms ease;
  }

  .select-menu .options .option:hover {
    background: var(--body-bg-color);
  }

  .select-menu .options .option i {
    font-size: 2vw;
    margin-right: 1vw;
    color: var(--accentColor);
  }

  .select-menu .options .option .option-text {
    font-size: 1vw;
    color: var(--primaryColor);
  }

  .select-btn i {
    font-size: 2vw;
    transition: 0.3s;
  }

  .select-menu.active .select-btn i {
    transform: rotate(-180deg);
  }

  .select-menu.active .options {
    top: 0;
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
  }

  div.dialog {
    width: 30%;
    height: 40%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-radius: 12px;
    overflow: hidden;
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--body-bg-color);
  }

  div.dialog .glowing {
    background: linear-gradient(
      90deg,
      transparent,
      var(--accentColor),
      var(--accentColor),
      var(--accentColor),
      var(--accentColor),
      transparent
    );
    animation: glow-rotation 25000ms infinite linear;
    height: 190%;
    width: 80%;
    position: absolute;
    top: -50%;
    left: 0;
  }

  div.dialog .content {
    width: 99%;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1vw;
    background-color: var(--body-bg-color);
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div.dialog .content div {
    font-size: 6vw;
  }

  div.dialog .content p {
    font-size: 1vw;
    font-weight: 700;
    font-family: var(--sff);
    color: var(--primaryColor);
  }


  section.admin {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    overflow: hidden;
  }

  section.admin div#left-section {
    width: 15%;
    height: 100%;
    display: flex;
    background-color: var(--bg-color);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  section.admin div#left-section #header {
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 1vw;
  }

  section.admin div#left-section #header #logo {
    width: 4vw;
    height: 4vw;
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
  }
   
  section.admin div#left-section .left-menu-tile-icon{
    font-size: 1.5vw;
    color: var(--primaryColor);
  }

  section.admin div#left-section #header #logo {
    background-image: var(--symbol-512-white);
  }

  section.admin div#left-section #header p {
    font-weight: 700;
    font-size: 1.25vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  section.admin div#left-section #body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1vw;
    flex-direction: column;
    overflow-y: auto;
    padding: 0.25vw 0.5vw;
  }

  section.admin div#left-section #footer {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  section.admin div#left-section .left-menu-tile.active {
    background-color: rgba(0, 0, 0, 0.35);
  }

  section.admin div#left-section .left-menu-tile {
    width: 100%;
    height: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1vw;
    flex-direction: row;
    transition: 500ms ease;
    cursor: pointer;
    border-radius: 12px;
    padding: 0.5vw 1vw;
  }

  section.admin div#left-section .left-menu-tile:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  section.admin div#left-section .left-menu-tile p {
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  section.admin div#right-section {
    width: 85%;
    height: 100%;
    background-color: var(--body-bg-color);
    display: flex;
    padding: 1vw 2vw;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }


  .confirmation-dialog .header,
  .form-dialog .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .confirmation-dialog h2,
  .form-dialog h2 {
    font-weight: 900;
    font-size: 2.5vw;
    font-family: var(--pff);
    color: var(--accentColor);
  }

  .confirmation-dialog .header div,
  .form-dialog .body .tag-tile div,
  .form-dialog .header div {
    cursor: pointer;
  }

  .form-dialog .body .tag-tile div,
  .confirmation-dialog .header div,
  .form-dialog .header div,
  .category-card .information .bio {
    font-weight: 500;
    font-size: 0.7vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
  }

  .confirmation-dialog-overlay,
  .form-dialog-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .confirmation-dialog,
  .form-dialog {
    display: none;
    align-items: start;
    justify-content: start;
    padding: 0.5vw 1vw;
    border-radius: 12px;
    background-color: var(--body-bg-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    flex-direction: column;
    gap: 1.5vw;
  }

  .form-dialog {
    width: 70%;
    height: 40vw;
  }

  .confirmation-dialog {
    width: 40%;
    max-height: 20vw;
  }

  .confirmation-dialog > .body,
  .form-dialog > .body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column !important;
    overflow-y: auto;
    align-items: start;
    justify-content: start;
    gap: 1vw;
    padding: 0.5vw 1vw;
  }

  .form-dialog .body .row-fields {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
  }

  .confirmation-dialog .options,
  .form-dialog .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 1vw;
  }

  .confirmation-dialog .options p,
  .confirmation-dialog .body label,
  .form-dialog .body label,
  .form-dialog .options p {
    font-weight: 500;
    font-size: 1vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .tags-selection-fields,
  .form-dialog .body .tags {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1vw;
  }

  .tags-selection-fields .header,
  .form-dialog .body .tags .header {
    gap: 0.5vw;
  }

  .tags-selection-fields .body,
  .form-dialog .body .tags .body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 1vw;
    column-gap: 0.5vw;
  }

  .tag-tile {
    display: flex;
    flex-direction: row !important;
    background-color: var(--accentColor);
    padding: 0.25vw 0.5vw;
    border-radius: 4px;
    align-items: center;
    justify-content: start;
    gap: 0.5vw;
  }

  .tag-tile div {
    color: var(--bg-color) !important;
  }

  .tag-tile p {
    color: var(--bg-color);
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--pff);
  }

  .form-dialog#category .body .icon,
  .form-dialog#category .body .cover {
    width: 100%;
    aspect-ratio: 1/2;
    background-image: var(--image-placeholder);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 30vw;
    cursor: pointer;
  }

  .form-dialog#parent-category .body .categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1vw;
    color: 0.5vw;
    row-gap: 1vw;
    column-gap: 0.5vw;
  }

  .form-dialog#parent-category .category-tile {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0.5vw;
    padding: 0.5vw 1vw;
    background-color: var(--bg-color);
    border-radius: 12px;
    cursor: pointer;
  }

  .form-dialog#parent-category .category-tile.active {
    border: 1px var(--accentColor) solid;
  }

  .confirmation-dialog .body > p,
  .form-dialog#parent-category .category-tile h3 {
    font-weight: 700;
    font-size: 1.1vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .form-dialog#parent-category .category-tile p {
    font-weight: 300;
    font-size: 0.9vw;
    font-family: var(--sff);
    color: var(--sff);
  }
/* Dropdown Button */
.filter-dropbtn {
  padding: 16px;
  font-size: 1vw;
  width: 100% !important;
  border: 2px var(--accentColor) solid;
  background-color: var(--bg-color);
  display: flex;
  color: var(--accentColor);
  cursor: pointer;
  border-radius: 12px;
}

/* The container <div> - needed to position the dropdown content */
.filter-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.filter-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  min-width: 100%;
  border: 2px var(--accentColor) solid;
  border-radius: 12px;
  z-index: 1;
    animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  opacity: 0;

}

/* Links inside the filter-dropdown */
.filter-dropdown-content button {
  border: none;
  background-color: transparent;
  color: var(--primaryColor);
  font-size: 1.25vw;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.filter-dropdown-content button span{
  color: var(--primaryVarientColor);
  font-size: 1vw;
}

/* Change color of filter-dropdown links on hover */
.filter-dropdown-content a:hover {background-color: #f1f1f1}

  .msg-dialog-overlay {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .msg-dialog {
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    align-items: start;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    z-index: 1001;
    padding: 0.5vw 1vw;
    border-radius: 12px;
    background-color: var(--body-bg-color);
    gap: 1vw;
  }

  .msg-dialog .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .msg-dialog .header h3 {
    font-weight: 700;
    font-size: 2vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .msg-dialog .header div {
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--pff);
    color: var(--primaryVarientColor);
    cursor: pointer;
  }

  .msg-dialog p {
    font-weight: 300;
    font-size: 1.25vw;
    font-family: var(--sff);
    color: var(--primaryColor);
  }

  .msg-dialog p span {
    font-weight: 700;
    font-size: 1.1vw;
    font-family: var(--sff);
    color: var(--primaryColor);
  }

  .msg-dialog .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 0.5vw;
  }

  .msg-dialog .options p.status-msg {
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

/* Show the filter-dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
    animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
}


  #loading-overlay {
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(255, 255, 255, 0.75);
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  #loading-dialog {
    width: 30vw;
    height: 15vw;
    background-color: var(--body-bg-color);
    border-radius: 12px;
    padding: 0.5vw 1vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px 1px #444;
  }

  #loading-dialog h3 {
    font-weight: 900;
    font-size: 2vw;
    color: var(--primaryColor);
    font-family: var(--pff);
  }

  #loading-dialog p {
    font-weight: 300;
    font-size: 1vw;
    color: var(--primaryVarientColor);
    font-family: var(--sff);
    text-align: center;
    padding: 0.5vw;
  }



  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 30px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes fadeInDown {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate3d(0, 20px, 0);
      opacity: 0;
    }
  }

  @keyframes glow-rotation {
    0% {
      transform: rotateZ(0deg);
    }

    0% {
      transform: rotateZ(360deg);
    }
  }
}
