@media screen and (min-width: 1024px) {
  section#entry {
    width: 100%;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--body-bg-color);
    padding: 2.5vw 5%;
  }

  section#entry #container {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex;
  }

  section#entry #container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    content: url(./images/entry.jpg);
  }

  section#entry #container #overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    position: absolute;
  }

  section#entry #container #overlay h2 {
    font-weight: 900;
    font-size: 5vw;
    color: var(--accentColor);
    font-family: var(--pff);
  }

  section#entry #container #overlay p {
    font-weight: 300;
    font-size: 1.5vw;
    color: whitesmoke;
    font-family: var(--sff);
  }

  section#we-serve {
    width: 100%;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 2.5vw 5%;
    background-color: var(--bg-color);
  }

  section#we-serve > #content {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  section#we-serve > #content h3{
    font-weight: 900;
    font-size: 3vw;
    font-family: var(--pff);
    color: var(--accentColor);
  }

  section#we-serve > #content p{
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--sff);
    color: var(--primaryColor);
  }

  section#we-serve > #cards {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2vw;
    column-gap: 4vw;
  }

  div.we-serve-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 12px;
    transition: 500ms ease;
  }

  div.we-serve-card#residential-buildings img {
    content: url(./images/residentialBuildings.jpg);
  }

  div.we-serve-card#shopping-malls img {
    content: url(./images/shoppingMalls.jpg);
  }

  div.we-serve-card#hotels img {
    content: url(./images/hotels.jpg);
  }

  div.we-serve-card#office-buildings img {
    content: url(./images/officeBuildings.jpg);
  }

  div.we-serve-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px 1px var(--accentColor);
  }

  div.we-serve-card:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }

  div.we-serve-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: cover;
    filter: grayscale(100%);
    -webkit-filter: greyscale(100%);
    transition: 500ms ease;
    border-radius: 12px;
  }

  div.we-serve-card .styling-border {
    width: 100%;
    height: 100%;
    display: flex;
    border: 2px var(--accentColor) solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -53%);
    border-radius: 12px;
    transition: 500ms ease;
  }

  div.we-serve-card:hover .styling-border {
    transform: translate(-50%, -50%);
  }  

  div.we-serve-card .content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    padding: 1vw 2vw;
  }


  div.we-serve-card .content h3 {
    font-weight: 900;
    font-size: 2vw;
    font-family: var(--pff);
    color: rgba(255, 255, 255, 1.0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms ease;
    white-space: nowrap;
  }

  div.we-serve-card:hover .content h3 {
    color: var(--accentColor);
    transform: translate(-50%, -200%);
  }

  div.we-serve-card .content p {
    font-weight: 500;
    font-size: 1vw;
    font-family: var(--sff);
    color: rgba(255, 255, 255, 0.75);
    text-align: justify;
    text-justify: inter-cluster;
    position: absolute;
    width: 70%;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    transition: 500ms ease;
    opacity: 0;
  }

  div.we-serve-card:hover .content p {
    transform: translate(-50%, -10%);
    animation: fadeInAnimation ease 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  section#all-installations {
    width: 100%;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    flex-direction: column;
    padding: 2.5vw 5%;
  }

  section#all-installations > h3 {
    font-weight: 900;
    font-size: 4vw;
    font-family: var(--pff);
    color: var(--accentColor);
  }

  section#all-installations > p {
    font-weight: 300;
    font-size: 2vw;
    font-family: var(--sff);
    color: var(--primaryColor);
  }

  section#all-installations #main-section {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 12px;
    border: 2px var(--accentColor) solid;
    overflow: hidden;
    margin-top: 2vw;
    box-shadow: 0 0 30px 1px var(--accentColor);
  }

  section#all-installations #main-section > img {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: url(./images/all-installations.jpg);
    object-fit: cover;
    object-position: center;

  }

  section#all-installations #content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 0.5vw;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5vw 20vw;
    flex-wrap: wrap;
  }

  section#all-installations .all-installations-snippet {
    width: 15vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 2vw;
    background-color: var(--bg-color);
    border-radius: 12px;
    transition: 500ms ease;
  }

  section#all-installations .all-installations-snippet:hover {
    transform: scale(1.1);
    border: 2px var(--accentColor) solid;
    box-shadow: 0 0 30px 1px var(--accentColor);
  }


  section#all-installations #content > div > i {
    font-size: 1.5vw;
    color: var(--accentColor);
  }

  div.all-installations-snippet .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    column-gap: 0.5vw;
  }

  div.all-installations-snippet .title h4 {
    font-weight: 700;
    font-size: 1.5vw;
    font-family: var(--pff);
    color: var(--accentColor);
  }

  div.all-installations-snippet .title i {
    color: var(--accentColor);
    font-size: 1.25vw;
  }

  div.all-installations-snippet p {
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
    text-align: justify;
  }

  section.installations-cards-container {
    width: 100%;
    height: 45vw;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 2.5vw 5%;
    background-color: var(--body-bg-color);
  }

  section.installations-cards-container#gearless-elevators {
    background-color: var(--bg-color);
  }

  section.installations-cards-container > .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  section.installations-cards-container > .title .content h3 {
    font-weight: 900;
    font-size: 3vw;
    color: var(--accentColor);
    font-family: var(--pff);
  }

  section.installations-cards-container > .title .content p {
    font-weight: 300;
    font-size: 1.5vw;
    color: whitesmoke;
    font-family: var(--sff);
  }

  section.installations-cards-container > .title .label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 1vw;
    padding: 1vw 2vw;
    background-color: var(--bg-color);
    border-radius: 12px;
    filter: drop-shadow(0 0 4px var(--accentColor));
    -webkit-filter: drop-shadow(0 0 4px var(--accentColor));
    border: 1px var(--accentColor) solid;
  }

  section.installations-cards-container#gearless-elevators > .title .label {
    background-color: var(--body-bg-color);
  }
  section.installations-cards-container > .title .label .label-snippet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5vw;
  }
  section.installations-cards-container > .title .label .label-snippet i {
    font-size: 1vw;
    color: var(--accentColor);
  }
  section.installations-cards-container > .title .label .label-snippet p {
    font-size: 1vw;
    font-weight: 500;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
  }

  section.installations-cards-container #cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    align-self: center;
    column-gap: 2vw;
    margin-top: 2vw;
  }

  section.installations-cards-container #cards .installation-card {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 0 30px 1px #111;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: 500ms ease;
  }
  section.installations-cards-container #cards .installation-card .content {
    width: 99%;
    height: 99%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    background-color: var(--bg-color);
    border-radius: 12px;
    padding: 1vw 2vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
  }

  section.installations-cards-container
    #cards
    .installation-card.blue
    .glowing {
    background: linear-gradient(
      90deg,
      transparent,
      skyblue,
      skyblue,
      skyblue,
      skyblue,
      transparent
    );
    animation: glow-rotation 15000ms infinite linear;
  }
  section.installations-cards-container
    #cards
    .installation-card.silver
    .glowing {
    background: linear-gradient(
      90deg,
      transparent,
      silver,
      silver,
      silver,
      silver,
      transparent
    );
    animation: glow-rotation 20000ms infinite linear;
  }
  section.installations-cards-container
    #cards
    .installation-card.gold
    .glowing {
    background: linear-gradient(
      90deg,
      transparent,
      var(--accentColor),
      var(--accentColor),
      var(--accentColor),
      var(--accentColor),
      transparent
    );
    animation: glow-rotation 25000ms infinite linear;
  }

  section.installations-cards-container #cards .installation-card .glowing {
    height: 190%;
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
  }

  section.installations-cards-container #cards .installation-card:hover {
    transform: scale(1.1, 1.1);
  }

  section.installations-cards-container #cards .installation-card.blue:hover {
    filter: drop-shadow(0 0 30px skyblue);
    -webkit-filter: drop-shadow(0 0 30px skyblue);
  }
  section.installations-cards-container #cards .installation-card.silver:hover {
    filter: drop-shadow(0 0 30px silver);
    -webkit-filter: drop-shadow(0 0 30px silver);
  }
  section.installations-cards-container #cards .installation-card.gold:hover {
    filter: drop-shadow(0 0 30px var(--accentColor));
    -webkit-filter: drop-shadow(0 0 30px var(--accentColor));
  }

  section.installations-cards-container
    #cards:hover
    > .installation-card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  section.installations-cards-container
    #cards
    .installation-card
    .content
    .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  section.installations-cards-container
    #cards
    .installation-card
    .content
    .title
    h3 {
    font-weight: 900;
    font-size: 2.5vw;
    font-family: var(--pff);
    color: var(--primaryColor);
    transition: 500ms ease;
  }

  section.installations-cards-container #cards .installation-card .content > p {
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
  }

  section.installations-cards-container
    #cards
    .installation-card
    .content
    .features {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 1.5vw 1vw;
    flex-direction: column;
  }

  section.installations-cards-container
    #cards
    .installation-card
    .content
    .features
    .feature-tile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    column-gap: 1vw;
  }

  section.installations-cards-container
    #cards
    .installation-card
    .content
    .features
    .feature-tile
    i {
    font-size: 1vw;
  }

  section.installations-cards-container
    #cards
    .installation-card
    .content
    .features
    .feature-tile
    h5 {
    font-size: 0.9vw;
    color: var(--primaryVarientColor);
    font-family: var(--sff);
    font-weight: 500;
  }
   section.installations-cards-container
    #cards
    .content
    .features
    .feature-tile
    h5.highlighted {
      font-weight: 900;

    }

  section.installations-cards-container #cards .installation-card.blue .badge {
    background-color: skyblue;
  }
  section.installations-cards-container
    #cards
    .installation-card.blue
    .content
    .features
    .feature-tile
    i,
    section.installations-cards-container
    #cards
    .installation-card.blue
    .content
    .features
    .feature-tile
    h5.highlighted,
  section.installations-cards-container
    #cards
    .installation-card.blue:hover
    h3 {
    color: skyblue;
  }
  section.installations-cards-container
    #cards
    .installation-card.silver
    .badge {
    background-color: silver;
  }
  section.installations-cards-container
    #cards
    .installation-card.silver
    .content
    .features
    .feature-tile
    i,
    section.installations-cards-container
    #cards
    .installation-card.silver
    .content
    .features
    .feature-tile
    h5.highlighted,
  section.installations-cards-container
    #cards
    .installation-card.silver:hover
    h3 {
    color: silver;
  }
  section.installations-cards-container #cards .installation-card.gold .badge {
    background-color: var(--accentColor);
  }
  section.installations-cards-container
    #cards
    .installation-card.gold
    .content
    .features
    .feature-tile
    i,
    section.installations-cards-container
    #cards
    .installation-card.gold
    .content
    .features
    .feature-tile
    h5.highlighted,
  section.installations-cards-container
    #cards
    .installation-card.gold:hover
    h3 {
    color: var(--accentColor);
  }

  section.installations-cards-container #cards .installation-card .actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1vw;
    margin-top: 1vw;
  }
  section.installations-cards-container
    #cards
    .installation-card
    .actions
    .shadow-button {
    white-space: nowrap;
  }
  section.installations-cards-container
    #cards
    .installation-card
    .actions
    .main-button {
    width: 100%;
    border-radius: 4px;
  }

  div.overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 25, 0.75);
    backdrop-filter: blur(4px);
  }

  div.form {
    width: 60%;
    height: 70%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-bg-color);
    z-index: 1001;
    border-radius: 12px;
    overflow: hidden;
  }

  div.form .rotating-glow {
    height: 220%;
    width: 40%;
    position: absolute;
    top: -50%;
    left: 30%;
    background: linear-gradient(
      90deg,
      transparent,
      var(--accentColor),
      var(--accentColor),
      var(--accentColor),
      var(--accentColor),
      transparent
    );
    animation: glow-rotation 25000ms infinite linear;
  }

  div.form .content {
    width: 99%;
    height: 99%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-bg-color);
    border-radius: 12px;
    padding: 1vw 2vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  div.form .content .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  div.form .content .header h3 {
    font-weight: 900;
    font-size: 2vw;
    font-family: var(--pff);
    color: var(--accentColor);
  }

  div.form .content .header div {
    cursor: pointer;
  }
  div.form .content .header div i {
    color: var(--primaryVarientColor);
  }

  div.form .content .actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    column-gap: 1vw;
  }

  div.form .content .actions .status-msg {
    font-weight: 500;
    font-size: 1vw;
    font-family: var(--sff);
    color: var(--primaryColor);
  }

  div.form .content .body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    overflow-y: auto;
    padding: 1vw 2vw;
  }

  div.form .content .body label {
    color: var(--primaryVarientColor);
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--sff);
  }

  div.form .content .body .row-fields {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1vw;
  }

  div.form .content .body label {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
  }

  div.form .content .body .row-fields div.select-btn {
    transition: 500ms ease;
  }
  div.form .content .body .row-fields div.select-btn:hover {
    border: 1px var(--accentColor) solid;
  }
  div.form .content .body .row-fields#options {
    display: flex;
    position: relative;
  }

  div.form .content .body .row-fields#options div {
    overflow-y: auto;
    max-height: 10vw;
    padding-left: 1vw;
  }
  div.form .content .body .row-fields#options div p {
    color: var(--primaryColor);
    font-family: var(--sff);
    font-size: 0.95vw;
  }

  div.form .content .body .row-fields#address-fields input#address {
    flex: 3;
  }

  #toast {
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 50%;
    border: 2px var(--accentColor) solid;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    background-color: var(--accentColor);
    z-index: 500;
    box-shadow: 0 0 30px 1px var(--accentColor);
    transition: 500ms ease;
    cursor: pointer;
  }

  #toast.active {
    width: 24vw;
    height: 16vw;
    display: flex;
    border-radius: 12px;
    backdrop-filter:  blur(12px);
    z-index: 500;
    box-shadow: 0 0 30px 1px var(--accentColor);
    background-color: transparent;
    cursor: auto;
  }

  #toast #header,
  #toast #content  {
    display: none;
  }


  #toast.active #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    padding: 1vw 2vw;
    transition: 500ms ease;
  }

  #toast.active #header div {
    color:  var(--primaryColor);
    cursor: pointer;
  }

#toast.active #content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 1vw 2vw;
  gap:  1vw;
  transition: 500ms ease;
}

#toast #content h3 {
  font-weight: 700;
  font-size: 1vw;
  font-family: var(--sff);
  color:  var(--primaryColor);
  text-align: center;
  transform: 1s ease;
}

#toast #toast-icon {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primaryColor);
  font-size: 2vw;
  transition: 500ms ease;
  opacity: 0;
}

#toast #toast-icon i {
  font-size: 1.5vw;
}

#toast.active #toast-icon {
  display: none;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  @keyframes glow-rotation {
    0%{
      transform: rotateZ(0deg);
    }

    0% {
      transform: rotateZ(360deg);
    }
  }
}
