@media screen and (min-width: 1024px) {
  #entry {
    width: 100%;
    min-height: 80vh;
    height: 40vh;
    max-height: 140vh;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 2.5vw 5vw;
    background-color: var(--body-bg-color);
  }

  #entry > #content {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  #entry > #content > h4 {
    font-weight: 500;
    font-size: 1.25em;
    color: var(--primaryColor);
  }

  #entry > #content > h1 {
    font-weight: 900;
    font-size: 3em;
    color: var(--accentColor);
    margin: 12px 0;
  }

  #entry > #content > p {
    font-weight: 300;
    font-size: 1em;
    color: var(--primaryColor);
  }

  #entry > #content > div {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
  }

  h5 {
    font-weight: 700;
    font-size: 2em;
    color: var(--accentColor);
  }

  h5 > span {
    font-weight: 300;
    font-size: 0.4em;
    opacity: 0.5;
    text-decoration: line-through;
  }

  #status-msg {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    width: 100%;
    display: flex;
  }

  #amount {
    width: 60%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--body-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
  }

  #amount > button {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  #increase-amount {
    background-image: url(./icons/increase.png);
  }

  #decrease-amount {
    background-image: url(./icons/decrease.png);
  }

  #amount > input {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: "Poppins";
    font-size: 1em;
  }

  /* Chrome, Safari, Edge, Opera */
  #amount > input::-webkit-outer-spin-button,
  #amount > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  #amount > input[type="number"] {
    -moz-appearance: textfield;
  }

  #product-slide-show {
    width: 50%;
    height: 80%;
    position: relative;
    display: flex;
  }

  #product-slide-show > #current-slide {
    width: 70%;
    height: 100%;
    display: flex;
    border-radius: 12px;
    background-color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 500ms ease;
  }


  #product-slide-show > .all-slides {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5% 0;
    position: absolute;
    top: 0;
    bottom: 0;
    gap: 24px;
  }

  .all-slides#left {
    left: 0;
  }

  .all-slides#right {
    right: 0;
  }

  .side-slide {
    width: 100%;
    height: 25%;
    display: flex;
    background-color: var(--bg-color);
    border: 4px var(--body-bg-color) solid;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    transition: 500ms ease;
  }
  .side-slide img,
  #product-slide-show > #current-slide img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    display: flex;
  }

  .active-slide {
    border: 4px var(--accentColor) solid;
  }

  .section-divider {
    height: 10vh;
  }

  section#specs {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0 5vw;
    justify-content: space-between;
    align-items: start;
    background-color: var(--body-bg-color);
  }

  section#specs > #content {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  section#specs > #current-slide {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .specs-row {
    width: 100%;
    min-height: 20%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    margin: 24px 0;
  }

  .specs-row > #title {
    width: 64px;
    min-height: 72px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: 32px;
    flex-direction: column;
  }

  .specs-row > #content {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 64px;
  }

  .specs-row > #title > p {
    text-align: center;
    color: var(--accentColor);
    font-weight: 500;
    font-size: 1em;
  }

  .specs-row > #title > .specs-icon {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #specs-icon {
    background-image: url("./icons/product-specs.png");
  }

  #code-icon {
    background-image: url("./icons/product-code.png");
  }

  #discount-icon {
    background-image: url("./icons/discount-percent.png");
  }

  #delivery-icon {
    background-image: url("./icons/delivery.png");
  }

  .specs-divider {
    width: 100%;
    height: 2px;
    display: flex;
    background: linear-gradient(
      90deg,
      transparent 20%,
      #999 50%,
      transparent 80%
    );
  }

  section.category-products-section {
    width: 100%;
    min-height: 100vh;
    max-height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vw 5vw;
    background-color: var(--body-bg-color);
  }

  section.category-products-section > #header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  section.category-products-section > #header > h3 {
    font-weight: 700;
    font-size: 2em;
    color: var(--accentColor);
  }

  section.category-products-section > #banner {
    width: 100%;
    height: 60vh;
    display: flex;
    border-radius: 15px;
    margin: 2.5vw 0;
  }

  section.category-products-section > #banner > #content {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: start;
    padding: 8px 16px;
  }

  section.category-products-section > #banner > #content > p {
    font-weight: 300;
    font-size: 0.75em;
    margin: 8px 0;
  }

  section.category-products-section > #banner > #content > h2 {
    font-weight: 800;
    font-size: 1.75em;
    margin: 8px 0;
  }

  section.category-products-section > #banner > #content > a {
    margin-top: 5vw;
  }

  section.category-products-section > #banner > #asset {
    width: 60%;
    height: 100%;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  section.category-products-section > #products {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-row-gap: 3vh;
    grid-column-gap: 2vw;
  }

    section.category-products-section > #products:hover
    > .product-card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }


  #count-options {
    width: 100% !important;
    display: flex !important;
    align-items: start !important;
    justify-content: start !important;
    flex-direction: column !important;
    gap: 8px;
  }

  #count-options p {
    color: var(--primaryColor);
    opacity: 0.75;
    text-decoration: underline;
    cursor: pointer;
  }

  #colors,
  #sizes {
    display: flex !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: start !important;
    height: 32px !important;
    margin-top: 8px !important;
  }

  #colors div {
    width: 32px;
    height: 32px;
    display: flex;
    margin: 0 8px;
    cursor: pointer;
    transition: 500ms ease;
  }

  #sizes div {
    display: flex;
    margin: 0 8px;
    cursor: pointer;
    transition: 500ms ease;
    border-radius: 12px;
    padding: 8px 16px;
  }

  .active {
    border: 2px var(--accentColor) solid;
    border-radius: 12px;
  }
}
