<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sky Elevators - Articles</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static', filename='website/global/styles/images/symbol-512.ico')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='admin/articles/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/global/styles/computer.css')}}"
    />
    <script
      type="text/javascript"
      src="{{url_for('static', filename='admin/articles/scripts/main.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='website/global/scripts/main.js')}}"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='website/global/styles/images/favicon.ico')}}">    
  </head>
  <body>
    <style type="text/css">
      :root {
        --pff: "Montserrat";
        --sff: "Montserrat";
      }
    </style>

    <section class="admin">
      <div id="left-section">
        <div id="header">
          <div id="logo"></div>
          <p>{{admin_data['name']}}</p>
        </div>
        <div id="body">
          <div
            onclick="window.open(`/webapp/adminstration/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-home"></i></div>
            <p>Home</p>
          </div>
          {% if "0" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/layout/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-pen-ruler"></i></div>
            <p>Layout</p>
          </div>
          {%endif%} {% if "1" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/articles/`, '_self');"
            class="active left-menu-tile"
          >
            <div class="left-menu-tile-icon">
              <i class="fa-solid fa-newspaper"></i>
            </div>
            <p>Articles</p>
          </div>
          {%endif%} {% if "2" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/tickets/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-envelope"></i></div>
            <p>Tickets</p>
          </div>
          <div
            onclick="window.open(`/webapp/adminstration/tickets/archived/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-envelope"></i></div>
            <p>Archived Tickets</p>
          </div>
          {%endif%}{% if "4" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/users/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-user"></i></div>
            <p>Users</p>
          </div>
          {%endif%}{% if "5" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/spareParts/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-gear"></i></div>
            <p>Spare Parts</p>
          </div>
          {%endif%}{% if "6" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/categories/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-layer-group"></i></div>
            <p>Categories</p>
          </div>
          {%endif%}{% if "3" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/admins/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-user-tie"></i></div>
            <p>Admins</p>
          </div>
          {%endif%}
        </div>
        <div id="footer">
          <div onclick="adminLogout();" class="left-menu-tile">
            <div class="left-menu-tile-icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
            <p>Logout</p>
          </div>
        </div>
      </div>
      <div id="right-section">
        <div class="card">
          <div class="header">
            <h3>Articles</h3>
            <p>Create, Edit, Delete Articles, and Manage Drafts!</p>
          </div>
        </div>
        <div class="card" id="fragments">
          <div id="fragments-controllers">
            <div class="fragment-controller active" id="create-fragment" onclick="toggleFragment(this)">Create</div>
            <div class="fragment-controller" id="articles-fragment" onclick="toggleFragment(this)">Articles ({{db_helper.articles.all_articles | length}})</div>
            <div class="fragment-controller" id="drafts-fragment" onclick="toggleFragment(this)">Drafts ({{db_helper.articles.all_drafts | length}})</div>
          </div>
          <div id="fragments">
            <div class="fragment active" id="create-fragment">
                      <div class="options" id="header">
          <button class="shadow-button">Save as Draft</button>
          <button class="main-button" onclick="createArticle()">Create</button>
        </div>

              <div class="body-card" id="info">

          <div class="header" >
              <h1>Article Info</h1>
              <div style="display: flex; flex-direction: row; font-family: var(--sff); align-items: center;">
                <label class="switch">
                  <input type="checkbox" id="toggleSwitch">
                  <span class="slider"></span>
              </label>
                <p>Enable Multi-Language Input</p>
              </div>

            </div>
          <div class="fields-row">
            <label id="en-title" for="en-title">English Title</label>
            <label id="ar-title" for="ar-title">Arabic Title</label>
            <input
              type="text"
              class="single-line-field"
              id="en-title"
              placeholder="English Title"
            />
            <input
              type="text"
              class="single-line-field"
              id="ar-title"
              placeholder="Arabic Title"
            />
          </div>
          <div class="divider"></div>
          <div class="fields-row">
            <label id="en-short-brief" for="en-short-brief">English Short Brief</label>
            <label id="ar-short-brief" for="ar-short-brief">Arabic Short Brief</label>
            <input
              type="text"
              class="single-line-field"
              id="en-short-brief"
              placeholder="English Short Brief"
            />
            <input
              type="text"
              class="single-line-field"
              id="ar-short-brief"
              placeholder="Arabic Short Brief"
            />
          </div>
          <div class="divider"></div>
          <label for="audio-selection">Audio Version</label>
          <div id="audio-selection">
            <h3>Pick File</h3>
            <p id="selected-audio-file"></p>
            <button class="main-button" onclick="selectAudioFile()">
              Select
            </button>
          </div>
          <div class="divider"></div>
          <label for="cover">Cover</label>
          <div
            class="image-picker"
            id="cover"
            onclick="pickImage(this, {mode: 'COVER', coverSize: true})"
          ></div>
          <div class="divider"></div>
          <div class="fields-row">
            <label id="en-cover-msg" for="en-cover-msg">English Cover message</label>
            <label id="ar-cover-msg" for="ar-cover-msg">Arabic Cover message</label>
            <textarea
              name="en-cover-msg"
              id="en-cover-msg"
              cols="30"
              rows="10"
              class="mutli-line-field"
              placeholder="English attached message"
            ></textarea>
            <textarea
              name="ar-cover-msg"
              id="ar-cover-msg"
              cols="30"
              rows="10"
              class="mutli-line-field"
              placeholder="Arabic attached message"
            ></textarea>
          </div>
          <div class="divider"></div>
          <div class="tags">
            <div class="header">
              <input
                type="name"
                name="tag"
                placeholder="Tag / Keyword"
                class="single-line-field"
                id="cat-tags"
              />
              <button class="main-button" id="tags-submit">Add</button>
            </div>
            <div class="body"></div>
          </div>
        </div>
        <button class="main-button" id="new-section" onclick="newSection();">New Section</button>          
            </div>
            <div class="fragment" id="articles-fragment">
              <div class="articles-rows">
                <div class="article-row" id="header">
                  <div class="article-row-header">
                    <div class="article-row-cover"></div>
                    <div class="article-row-code">#</div>
                    <div class="article-row-title">Name</div>
                    <div class="article-row-views">Views</div>
                    <div class="article-row-comments">Comments</div>
                    <div class="article-row-saves">Saves</div>
                    <div class="article-row-likes">Ratings</div>
                  </div>
                </div>
              </div>                            
            </div>
            <div class="fragment" id="drafts-fragment">
              <div class="articles-rows">
                <div class="article-row" id="header">
                  <div class="article-row-header">
                    <div class="article-row-cover"></div>
                    <div class="article-row-code">#</div>
                    <div class="article-row-title">Name</div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="msg-dialog-overlay" id="confirmation-dialog"></div>
    <div class="msg-dialog" id="confirmation-dialog">
      <div class="header">
        <h3>Confirmation</h3>
        <div onclick="closeConfirmationDialog();">x</div>
      </div>
      <p></p>
      <div class="options">
        <button class="shadow-button" id="close">Close</button>
        <button class="main-button" id="submit">Submit</button>
        <p class="status-msg" id="confirmation-status-msg"></p>
      </div>
    </div>
    <div class="form-dialog-overlay" id="edit-dialog"></div>
    <div class="form-dialog" id="edit-dialog">
      <div class="header">
        <h2>Edit</h2>
        <div onclick="closeEditDialog();">x</div>
      </div>
      <div class="body"></div>
      <div class="options">
        <button class="shadow-button" id="close" onclick="closeEditDialog();">
          Close
        </button>
        <button class="main-button" id="submit">Submit</button>
        <p class="status-msg" id="confirmation-status-msg"></p>
      </div>
    </div>
    <div id="toast"></div>    
    <div id="loading-overlay"></div>
    <div id="loading-dialog">
      <h3>Loading...</h3>
      <p>
        Usually, It takes from a minute to 10 minutes to create an article based
        on the internet connection and the media you've chosen!
      </p>
    </div>    
    <script type="text/javascript">
      document.firstElementChild.setAttribute('data-theme', 'dark');
      const init= ()=> {
          initData({
            articles: {{dumps(utils.mutliple_to_dicts(db_helper.articles.all_articles)) | safe}},
            drafts: {{dumps(utils.mutliple_to_dicts(db_helper.articles.all_drafts)) | safe}},
            categories: {{dumps(utils.mutliple_to_dicts(db_helper.categories.active_cats)) | safe}},
            classifications: {{dumps(utils.mutliple_to_dicts(db_helper.categories.parent_cats)) | safe}},
          });
          initializeCreateFragment({});

          initUI();
      }

      if (window.attachEvent) window.attachEvent('load', init);
      else if (window.addEventListener) window.addEventListener('load', init);      
    </script>
  </body>
</html>
