<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sky Elevators - Categories</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static', filename='website/global/styles/images/symbol-512.ico')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='admin/categories/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/global/styles/computer.css')}}"
    />
    <script
      type="text/javascript"
      src="{{url_for('static', filename='admin/categories/scripts/main.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='website/global/scripts/main.js')}}"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='website/global/styles/images/favicon.ico')}}">    
  </head>
  <body>
    <style type="text/css">
      :root {
        --pff: "Montserrat";
        --sff: "Montserrat";
      }
    </style>

    <section class="admin">
      <div id="left-section">
        <div id="header">
          <div id="logo"></div>
          <p>{{admin_data['name']}}</p>
        </div>
        <div id="body">
          <div
            onclick="window.open(`/webapp/adminstration/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-home"></i></div>
            <p>Home</p>
          </div>
          {% if "0" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/layout/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-pen-ruler"></i></div>
            <p>Layout</p>
          </div>
          {%endif%} {% if "1" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/articles/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon">
              <i class="fa-solid fa-newspaper"></i>
            </div>
            <p>Articles</p>
          </div>
          {%endif%} {% if "2" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/tickets/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-envelope"></i></div>
            <p>Tickets</p>
          </div>
          <div
            onclick="window.open(`/webapp/adminstration/tickets/archived/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-envelope"></i></div>
            <p>Archived Tickets</p>
          </div>
          {%endif%}{% if "4" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/users/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-user"></i></div>
            <p>Users</p>
          </div>
          {%endif%}{% if "5" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/spareParts/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-gear"></i></div>
            <p>Spare Parts</p>
          </div>
          {%endif%}{% if "6" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/categories/`, '_self');"
            class="active left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-layer-group"></i></div>
            <p>Categories</p>
          </div>
          {%endif%}{% if "3" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/admins/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-user-tie"></i></div>
            <p>Admins</p>
          </div>
          {%endif%}
        </div>
        <div id="footer">
          <div onclick="adminLogout();" class="left-menu-tile">
            <div class="left-menu-tile-icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
            <p>Logout</p>
          </div>
        </div>
      </div>
      <div id="right-section">
      <div class="card">
        <div class="header">
          <h3>Categories</h3>
          <p>Categorizing your Spare Parts!</p>
            <div class="options">
              <button class="shadow-button" onclick="openCategoryFormDialog('CREATE')">Create</button>
            </div>
        </div>
      </div>
      <div class="card" id="categories">
        <div id="cards">
          {% for category in db_helper.categories.categories%}
            <div class="category-card">
              <div class="icon">
                <img src="/assets/categories/icons/{{category.id}}">
              </div>
              <div class="info">
                <h3>{{category.name['EN']}}</h3>
                <p>{{category.bio['EN'][:50]}}...</p>
                <div class="options">
                  <button class="shadow-button" style="color: red" onclick="openDeleteCategoryDialog('{{category.id}}');">Delete</button>
                  <button class="shadow-button" onclick="openCategoryFormDialog('EDIT', {category: {{category.to_dict() | safe}}})">Edit</button>
                </div>
              </div>
            </div>
          {%endfor%}
        </div>
      </div>
      </div>
    </section>
    <div class="form-dialog-overlay" id="category-form"></div>
    <div class="form-dialog" id="category-form">
      <div class="header">
        <h2></h2>
        <div onclick="closeCategoryFormDialog()"><i class="fa-solid fa-close"></i></div>
      </div>
      <div class="body">
        <div class="row-fields">
          <label>English Title</label>
          <label>Arabic Title</label>
        </div>
        <div class="row-fields">
          <input type="name" name="en-name" placeholder="English Name" id="en-name" class="single-line-field">
          <input type="name" name="ar-name" placeholder="Arabic Name" id="ar-name" class="single-line-field">
        </div>
        <div class="row-fields">
          <label>English Bio</label>
          <label>Arabic Bio</label>
        </div>
        <div class="row-fields">
          <textarea class="mutli-line-field" id="en-bio" name="en-bio" placeholder="English Bio..."></textarea>
          <textarea class="mutli-line-field" id="ar-bio" name="ar-bio" placeholder="Arabic Bio..."></textarea>
        </div>
        <label>Icon</label>
          <div class="image-picker" id="cover" onclick="pickImage(this, {mode: 'COVER', coverSize: true})"></div>        
        <label>Icon ALT Message</label>
          <textarea class="mutli-line-field" id="icon-alt" name="icon-alt" placeholder="Icon ALT Message"></textarea>
        <label>Tags / Keywords</label>
          <div class="tags">
            <div class="header">
              <input
                type="name"
                name="tag"
                placeholder="Tag / Keyword"
                class="single-line-field"
                id="cat-tags"
              />
              <button class="main-button" id="tags-submit">Add</button>
            </div>
            <div class="body"></div>
          </div>          
      </div>
      <div class="options">
        <button class="shadow-button" id="reset" onclick="resetCategoryFormDialog()">Reset</button>
        <button class="shadow-button" id="close" style="color: red" onclick="closeCategoryFormDialog()">Close</button>
        <button class="main-button">Submit</button>
        <p class="status-msg" id="status-msg"></p>
      </div>
    </div>
    <div class="confirmation-dialog-overlay" id="delete-category"></div>
    <div class="confirmation-dialog" id="delete-category">
      <div class="header">
        <h2>Delete Category</h2>
        <div onclick="closeDeleteCategory();"><i class="fa-solid fa-close"></i></div>
      </div>
      <div class="body">
        <label>Enter Your Password!</label>
        <input class="single-line-field" id="admin-password" placeholder="Password" type="password">
      </div>
      <div class="options">
        <button class="shadow-button" onclick="closeDeleteCategory();">Close</button>
        <button class="main-button">Submit</button>
        <p class="status-msg" id="status-msg"></p>
      </div>
    </div>    
    <script type="text/javascript">
      pageInit({
        categories: {{dumps(utils.mutliple_to_dicts(db_helper.categories.categories)) | safe}}
      });
      document.firstElementChild.setAttribute('data-theme', 'dark');      
    </script>
  </body>
</html>
