<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sky Elevators - Adminstration</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static', filename='website/global/styles/images/symbol-512.ico')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='admin/users/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/global/styles/computer.css')}}"
    />
    <script
      type="text/javascript"
      src="{{url_for('static', filename='admin/users/scripts/main.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='website/global/scripts/main.js')}}"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='website/global/styles/images/favicon.ico')}}">    
  </head>
  <body>
    <style type="text/css">
      :root {
        --pff: "Montserrat";
        --sff: "Montserrat";
      }
    </style>

    <section class="admin">
      <div id="left-section">
        <div id="header">
          <div id="logo"></div>
          <p>{{admin_data['name']}}</p>
        </div>
        <div id="body">
          <div
            onclick="window.open(`/webapp/adminstration/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-home"></i></div>
            <p>Home</p>
          </div>
          {% if "0" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/layout/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-pen-ruler"></i></div>
            <p>Layout</p>
          </div>
          {%endif%} {% if "1" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/articles/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon">
              <i class="fa-solid fa-newspaper"></i>
            </div>
            <p>Articles</p>
          </div>
          {%endif%} {% if "2" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/tickets/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-envelope"></i></div>
            <p>Tickets</p>
          </div>
          <div
            onclick="window.open(`/webapp/adminstration/tickets/archived/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-envelope"></i></div>
            <p>Archived Tickets</p>
          </div>
          {%endif%}{% if "4" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/users/`, '_self');"
            class="active left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-user"></i></div>
            <p>Users</p>
          </div>
          {%endif%}{% if "5" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/spareParts/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-gear"></i></div>
            <p>Spare Parts</p>
          </div>
          {%endif%}{% if "6" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/categories/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-layer-group"></i></div>
            <p>Categories</p>
          </div>
          {%endif%}{% if "3" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/admins/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="fa-solid fa-user-tie"></i></div>
            <p>Admins</p>
          </div>
          {%endif%}
        </div>
        <div id="footer">
          <div onclick="adminLogout();" class="left-menu-tile">
            <div class="left-menu-tile-icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
            <p>Logout</p>
          </div>
        </div>
      </div>
      <div id="right-section">
        <div class="card">
          <div class="header">
            <h3>Users</h3>
            <p>Navigate or Block Users, and Extract Leads Data!</p>
            <div class="options">
              <button class="shadow-button" onclick='openUserNotificationDialog({{dumps(utils.mutliple_to_dicts(db_helper.users.all_users)) | safe}})'>Send Notification</button>
              <button class="shadow-button" id="extract-users-report" onclick='openExtractUsersReport()'>Extract Users Report</button>
            </div>
          </div>
        </div>
        <div class="card">
        <div id="table">
        <div class="user-row" id="header">
                <div class="user-row-header">
                  <div class="user-row-id">#</div>
                  <div class="user-row-name">User Name</div>
                  <div class="user-row-membership">Membership</div>
                  <div class="user-row-phone">Phone</div>
                  <div class="user-row-email">Email</div>
                </div>
                <div class="user-row-divider"></div>
               </div>
              {%for user in db_helper.users.all_users %}
              <div class="user-row" id="{{user.id[-6:]}}"ondblclick="toggleUserRow(this)">
                <div class="user-row-header" >
                  <div class="user-row-id">{{(user.id|string)[:3]}}...{{(user.id|string)[((user.id|string)|length)-4:]}}</div>
                  <div class="user-row-name">{{user.name}}</div>
                  <div class="user-row-membership">{{consts.memberships[user.membership]["EN"]}}</div>
                  <div class="user-row-phone">{{user.phone_number[:5]}}...{{user.phone_number[-5:]}}</div>
                  <div class="user-row-email">{{user.email[:7]}}...{{user.email[-7:]}}</div>
                </div>
                <div class="user-row-divider"></div>
                <div class="user-row-collapsable">
                  <div class="user-row-collapsable-body">
                    <div
                      class="user-row-collapsable-cover" style="background-image: url(/assets/users/profiles/{{user.id}});"
                    ><div ></div></div>
                    <div class="user-row-collapsable-column">
                      <div class="user-row-collapsable-column-tile">
                        <label>User Name</label>
                        <h3 class="user-row-collapsable-writer">{{user.name}}</h3>
                      </div>
                      <div class="user-row-collapsable-column-tile phone_number">
                        <label>Phone Number</label>
                        <h3 class="user-row-collapsable-writer">{{user.phone_number}}</h3>
                      </div>
                      <div class="user-row-collapsable-column-tile email">
                        <label>Email</label>
                        <h3 class="user-row-collapsable-writer">{{user.email}}</h3>
                      </div>
                    </div>
                    <div class="user-row-collapsable-column">
                      <div class="user-row-collapsable-column-tile">
                        <label>Membership</label>
                        <h3 class="user-row-collapsable-writer">{{consts.memberships[user.membership]["EN"]}}</h3>
                      </div>
                      <div class="user-row-collapsable-column-tile joined_in">
                        <label>Joined In</label>
                        <h3 class="user-row-collapsable-writer">{{user.joined_in | format_date}}</h3>
                      </div>
                      <div class="user-row-collapsable-column-tile last_log_in">
                        <label>Last Login</label>
                        <h3 class="user-row-collapsable-writer">{{user.last_log_in |format_date}}</h3>
                      </div>
                    </div>
                    <div class="user-row-collapsable-column">
                      <div class="user-row-collapsable-column-tile">
                        <label>Article Comments</label>
                        <h3 class="user-row-collapsable-writer">{{user.comments | length}}</h3>
                      </div>
                      <div class="user-row-collapsable-column-tile joined_in">
                        <label>Article Likes</label>
                        <h3 class="user-row-collapsable-writer">{{user.likes | length}}</h3>
                      </div>
                      <div class="user-row-collapsable-column-tile last_log_in">
                        <label>Article Saves</label>
                        <h3 class="user-row-collapsable-writer">{{user.saves | length}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {%endfor%}
      </div>
          
        </div>
      </div>
    </section>
    <div class="form-dialog-overlay" id="user-notification-dialog"></div>
    <div class="form-dialog" id="user-notification-dialog">
      <div class="header">
        <h2>Send Notification</h2>
        <div onclick="closeUserNotificationDialog()"><i class="fa-solid fa-close"></i></div>
      </div>
      <div class="body">
        <div id="attachments-header" class="header">
          <label>Notification Body</label>
        </div>                
        <label>Objective</label>
        <input type="name" name="Objective" class="single-line-field" id="objective-field" placeholder="Objective">
        <label>Message</label>
        <textarea class="mutli-line-field" id="message-field" placeholder="Type your message..."></textarea>        
        <div id="attachments-header" class="header">
          <label>Attachments</label>
          <button class="main-button" onclick="pickAttachment();">Pick</button>
        </div>        
        <label id="attachments-count">Attachments (0)</label>
        <div id="attachments"></div>
        <div id="recipients-header" class="header">
          <label>Recipients</label>
        </div>                
        <div class="filter-dropdown select-menu">
          <button onclick="toggleRecipientsDropdown()" class="filter-dropbtn main-button" id="recipients-dropdown">Recipients</button>
          <div id="recipients-dropdown" class="filter-dropdown-content">
            <input type="text" placeholder="Search.." class="single-line-field" onkeyup="recipientsFilterFunction()">
            {% for user in db_helper.users.all_users %}
            <button onclick="pickRecipient({name: '{{user.name}}', email: '{{user.email}}', id: '{{user.id}}',  phone_number: '{{user.phone_number}}'})">{{user.name}} <span>({{user.email}}, {{user.phone_number}})</span></button>
            {%endfor%}
          </div>
        </div>
        <label id="recipients-count">Recipients (0)</label>
        <div id="recipients"></div>
        <div class="actions options">
          <button class="shadow-button" style="color: red" id="clear-reciepeints-data">Clear List</button>
          <button class="shadow-button" id="select-all-reciepeints">Select All</button>
        </div>
      </div>
      <div class="options">
        <button class="shadow-button" style="color: red" id="reset" onclick="resetUserNotificationDialog();">Reset</button>
        <button class="shadow-button" id="close" onclick="closeUserNotificationDialog();">Close</button>
        |
        <button class="main-button" onclick="sendNotificationSubmission();">Submit</button> 
        <p class="status-msg" id="status-msg"></p>
      </div>
    </div>
    <div class="confirmation-dialog-overlay" id="extract-users-report"></div>
    <div class="confirmation-dialog" id="extract-users-report">
      <div class="header">
        <h2>Extract Users Report</h2>
        <div onclick="closeExtractUsersReport();"><i class="fa-solid fa-close"></i></div>
      </div>
      <div class="body">
        <label>Enter Your Password!</label>
        <input class="single-line-field" id="admin-password" placeholder="Password" type="password">
      </div>
      <div class="options">
        <button class="shadow-button" onclick="closeExtractUsersReport();">Close</button>
        <button class="main-button"onclick="fetchUsersReport()">Submit</button>
        <p class="status-msg" id="status-msg"></p>
      </div>
    </div>
    <script type="text/javascript">
      document.firstElementChild.setAttribute('data-theme', 'dark');
    </script>
  </body>
</html>
