@media screen and (min-width: 1024px) {
  .body-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: var(--body-bg-color);
    border-radius: 12px;
    padding: 0.5vw 1vw;
    gap: 1vw;
  }

  .body-card .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.5vw;
  }

  .body-card .header h1 {
    font-weight: 900;
    font-size: 2vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .body-card .header p {
    font-weight: 300;
    font-size: 1 vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
  }

  .body-card .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1vw;
  }

  .body-card .body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    max-height: 10000vw;
    overflow-y: auto;
  }

  .body-card .body #cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1vw;
    column-gap: 0.5vw;
    align-items: start;
    place-items: start;
    padding: 0.5vw 1vw;
  }

  .admin-card {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 0.5vw 1vw;
    border-radius: 12px;
    font-family: var(--pff);
  }

  .admin-card h3,
  .admin-card p {
    font-family: var(--pff);
    color: var(--primaryColor);
    font-weight: 700;
  }

  .admin-card h3 {
    font-size: 1.5vw;
  }

  .admin-card p {
    font-size: 1vw;
  }

  .admin-card span {
    font-size: 1vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
    font-weight: 300;
  }

  .admin-card ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    padding: 0.25vw 10%;
    font-size: 0.85vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
  }

  .body #accesses {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    row-gap: 1vw;
    column-gap: 0.5vw;
  }

  .access-tile {
    padding: 0.5vw 1vw;
    background-color: var(--bg-color);
    border-radius: 25px;
    font-weight: 700;
    font-size: 1.25vw;
    font-family: var(--pff);
    color: var(--primaryColor);
    cursor: pointer;
    transition: 250ms ease;
  }

  .access-tile.active {
    border: 2px var(--accentColor) solid;
  }
}
