<!DOCTYPE html>
<html dir="{%if lang == 'AR'%} {{'rtl'}} {%else%} {{'ltr'}}{%endif%}">
<head>
	<meta charset="utf-8">
<meta name="description" content="{{content.global_[lang]['shortDescription']}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{url_for('static', filename='website/contact/styles/computer.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='website/contact/styles/mobile.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='website/contact/styles/tablet.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='website/global/styles/computer.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='website/global/styles/mobile.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='website/global/styles/tablet.css')}}"/>
	<script src="{{url_for('static', filename='website/global/scripts/main.js')}}"></script>
	<script src="{{url_for('static', filename='website/contact/scripts/main.js')}}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='website/global/styles/images/favicon.ico')}}">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

	<title>{{content.global_[lang]["platformTitle"]}} - {{content.tabs[lang]['contactUs']}}</title>
</head>
<body>
	{%if lang == 'AR'%}
	<style>
		:root {
			--pff: 'Almarai';
			--sff: 'Mondai';
		}
	</style>
	{%else%}
	<style>
		:root {
			--pff: 'Playfair Display';
			--sff: 'Montserrat';
		}
	</style>
	{%endif%}
	<header>
		<a href="/">{{content.global_[lang]["platformTitle"]}}</a>
		<div id="nav">
			<a href="/" class="header-nav-item">{{content.tabs[lang]["home"]}}</a>
			<a href="/installations" class="header-nav-item">{{content.tabs[lang]["installations"]}}</a>
			<a href="/modernization" class="header-nav-item">{{content.tabs[lang]["modernization"]}}</a>
			<a href="/maintenance/" class="header-nav-item">{{content.tabs[lang]["maintenance"]}}</a>
			<a href="/spareParts/" class="header-nav-item">{{content.tabs[lang]["spareParts"]}}</a>
			<a href="/blog/" class="header-nav-item">{{content.tabs[lang]["blog"]}}</a>
			<a href="/contact/" class="header-nav-item active">{{content.tabs[lang]["contact"]}}</a>
			<a href="/aboutUs/" class="header-nav-item">{{content.tabs[lang]["aboutUs"]}}</a>
		</div>
		<div id="options">
			<div class="drawer-btn" onclick="openDrawer();"><label class="hamburger">
				<input type="checkbox">
				<svg viewBox="0 0 32 32">
					<path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
					<path class="line" d="M7 16 27 16"></path>
				</svg>
			</label>
		</div>
		<div class="user header-dropdown">
			<button class="main-icon-button" id="user"><i class="user"></i></button>
			<div class="user header-dropdown-content">
				<div id="dropdown-tabs">
					{% if user_data %}
					<button class="user shadow-button" onclick="window.open('/profile/', '_self');">{{content.tabs[lang]["profile"]}}</button>
					<button class="user shadow-button" style="color: red" onclick="logout(this)">{{content.actions[lang]["logout"]}}</button>
					{%else%}
					<button class="user shadow-button" onclick="window.open('/login/', '_self');">{{content.actions[lang]["login"]}}</button>
					{%endif%}
				</div>
			</div>
		</div>        
		<div class="lang header-dropdown">
			<button class="main-icon-button" id="lang"><i class="lang"></i></button>
			<div class="lang header-dropdown-content">
				<div id="dropdown-tabs">
					<button class="lang {%if lang == 'EN' %} active {%endif%} shadow-button" onclick="toggleLang(`{{lang}}`)">English</button>
					<button class="lang {%if lang == 'AR' %} active {%endif%} shadow-button" onclick="toggleLang(`{{lang}}`)">العربية</button>
				</div>
			</div>
		</div>			
		<div class="theme-controller">
			<label for="theme" class="theme">
				<span class="theme__toggle-wrap">
					<input id="theme" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark">
					<span class="theme__fill"></span>
					<span class="theme__icon">
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
					</span>
				</span>
			</label>
		</div>
	</div>
</header>
	<section id="entry">
		<div id="img">
			<div id="overlay">
				<h2>{{content.global_[lang]['contactUsTitle'] | safe}}</h2>
				<p>{{content.global_[lang]['contactUsSubtitle']}}</p>
			</div>
		</div>
	</section>
	<!-- Form Section -->
	<section id="contact-form">
		<div id="left-section"><div id="map"></div></div>
		<div id="right-section">
			<div id="form">
				<h2>{{content.tabs[lang]['contactUs']}}</h2>
				<input type="name" placeholder="{{content.placeholders[lang]['nameFieldPlaceholder']}}" class="single-line-field" id="name-field">
				<input type="email" placeholder="{{content.placeholders[lang]['emailFieldPlaceholder']}}" class="single-line-field" id="email-field">
				<input type="tel" placeholder="{{content.placeholders[lang]['phoneFieldPlaceholder']}}" class="single-line-field" id="phone-field">
				<textarea type="message" placeholder="{{content.placeholders[lang]['messageFieldPlaceholder']}}" class="mutli-line-field" id="message-field"></textarea>
				<div class="select-menu" id="request-option-menu">
					<div class="select-btn">
						<span class="sBtn-text">{{content.actions[lang]['requestOption']}}</span>
						<i class="bx bx-chevron-down"></i>
					</div>
					<ul class="options">
						<li class="option" id="support">
							<i class="fa fa-solid fa-headset"></i>
							<span class="option-text">{{content.global_[lang]['support']}}</span>
						</li>
						<li class="option" id="complaint">
							<i class="fa fa-solid fa-face-frown"></i>
							<span class="option-text">{{content.global_[lang]['complaint']}}</span>
						</li>
						<li class="option" id="feedback">
							<i class="fa fa-solid fa-comment-dots"></i>
							<span class="option-text">{{content.global_[lang]['feedback']}}</span>
						</li>
					</ul>
				</div>
				<div class="options">
					<button class="shadow-button" id="clear" onclick="formClear();">{{content.actions[lang]['clear']}}</button>
					<button class="main-button" id="submit" onclick="formSubmit();">{{content.actions[lang]['submit']}}</button>
					<p class="status-msg" id="status-msg"></p>
				</div>
			</div>
		</div>
	</section>
	<!-- Apply for free visit section -->
	<footer>
	<div class="footer-column" id="column-one">
		<img id="logo" alt="Sky Elevators {{content.global_[lang]['shortDescription']}}" />
		<div id="footer-msg">
			<h4>{{content.global_[lang]["shortDescription"]}}</h4>
		</div>
	</div>
	<div class="footer-column" id="column-two">
		<div id="tabs">
			<a class="footer-tabs-item" href="/">{{content.tabs[lang]["home"]}}</a>
			<a class="footer-tabs-item" href="/maintenance/">{{content.tabs[lang]["maintenance"]}}</a>
			<a class="footer-tabs-item" href="/spareParts/">{{content.tabs[lang]["spareParts"]}}</a>
			<a class="footer-tabs-item" href="/modernization">{{content.tabs[lang]["modernization"]}}</a>
			<a class="footer-tabs-item" href="/installations">{{content.tabs[lang]["installations"]}}</a>
			<a class="footer-tabs-item" href="/blog/">{{content.tabs[lang]["blog"]}}</a>
			<a class="footer-tabs-item active" href="/contact/">{{content.tabs[lang]["contact"]}}</a>
			<a class="footer-tabs-item" href="/aboutUs/">{{content.tabs[lang]["aboutUs"]}}</a>
		</div>
		<div id="contact">
			<div id="links">
				<a href="/privacyPolicy/">{{content.tabs[lang]['privacyPolicy']}}</a>
				<a href="/termsAndConditions/">{{content.tabs[lang]['termsAndConditions']}}</a>
			</div>
			<div id="contact-info">
				<div id="contact-info-snippet">
					<i class="fa-solid fa-phone"></i>
					<p>{{layout.data['CONTACT']['PHONE']}}</p>
				</div>
				<div id="contact-info-snippet">
					<i class="fa-solid fa-envelope"></i>
					<p>{{layout.data['CONTACT']['EMAIL']}}</p>
				</div>
			</div>
			<div id="social-media">
				{% if layout.data['CONTACT']['FACEBOOK'] != "" %}
					<a href="{{layout.data['CONTACT']['FACEBOOK']}}" class="footer-social-media-icon"><i class="fa-brands fa-facebook-f"></i></a>
				{%endif%}
				{% if layout.data['CONTACT']['LINKEDIN'] != "" %}
					<a href="{{layout.data['CONTACT']['LINKEDIN']}}" class="footer-social-media-icon"><i class="fa-brands fa-linkedin"></i></a>
				{%endif%}
				{% if layout.data['CONTACT']['INSTAGRAM'] != "" %}
					<a href="{{layout.data['CONTACT']['INSTAGRAM']}}" class="footer-social-media-icon"><i class="fa-brands fa-instagram"></i></a>
				{%endif%}
				{% if layout.data['CONTACT']['TIKTOK'] != "" %}
					<a href="{{layout.data['CONTACT']['TIKTOK']}}" class="footer-social-media-icon"><i class="fa-brands fa-tiktok"></i></a>
				{%endif%}
				{% if layout.data['CONTACT']['X-TWITTER'] != "" %}
					<a href="{{layout.data['CONTACT']['X-TWITTER']}}" class="footer-social-media-icon"><i class="fa-brands fa-x-twitter"></i></a>
				{%endif%}
			</div>
		</div>
		<div id="copyright">
			<p>{{content.global_[lang]["copyrightMsg"]}}</p>
		</div>
	</div>
</footer>
	<script type="text/javascript">
		const init= ()=> {
			document.firstElementChild.setAttribute('data-theme', '{{mode | lower}}');
			currentMode= '{{mode}}';
if (currentMode === 'DARK') document.querySelector('input#theme').checked= true;
			initContent({{content.actions[lang] | safe}}, {{content.errors[lang] | safe}}, {{content.status[lang] | safe}});
		}

		if (window.addEventListener) window.addEventListener('load', init);
		else if (window.attachEvent) window.attachEvent('onload', init);
	</script>
</body>
</html>