<!DOCTYPE html>
<html dir="{%if lang == 'AR'%} {{'rtl'}} {%else%} {{'ltr'}}{%endif%}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{url_for('static', filename='website/signup/styles/computer.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='website/signup/styles/mobile.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='website/signup/styles/tablet.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='website/global/styles/computer.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='website/global/styles/mobile.css')}}"/>
	<link rel="stylesheet" href="{{url_for('static', filename='website/global/styles/tablet.css')}}"/>
	<script src="{{url_for('static', filename='website/global/scripts/main.js')}}"></script>
	<script src="{{url_for('static', filename='website/signup/scripts/main.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='website/global/styles/images/favicon.ico')}}">
	<title>{{content.global_[lang]["platformTitle"]}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
  />
  
</head>
<body>
	{%if lang == 'AR'%}
	<style>
		:root {
			--pff: 'Almarai';
			--sff: 'Mondai';
		}
	</style>
	{%else%}
	<style>
		:root {
			--pff: 'Playfair Display';
			--sff: 'Montserrat';
		}
	</style>
	{%endif%}
	<header>
		<a href="/">{{content.global_[lang]["platformTitle"]}}</a>
		<div id="nav">
			<a href="/" class="header-nav-item">{{content.tabs[lang]["home"]}}</a>
			<a href="/maintenance/" class="header-nav-item">{{content.tabs[lang]["maintenance"]}}</a>
			<a href="/spareParts/" class="header-nav-item">{{content.tabs[lang]["spareParts"]}}</a>
			<a href="/modernization" class="header-nav-item">{{content.tabs[lang]["modernization"]}}</a>
			<a href="/installations" class="header-nav-item">{{content.tabs[lang]["installations"]}}</a>
			<a href="/blog/" class="header-nav-item">{{content.tabs[lang]["blog"]}}</a>
			<a href="/contact/" class="header-nav-item">{{content.tabs[lang]["contact"]}}</a>
			<a href="/aboutUs/" class="header-nav-item">{{content.tabs[lang]["aboutUs"]}}</a>
		</div>
		<div id="options">
			<div class="drawer-btn" onclick="openDrawer();"><label class="hamburger">
				<input type="checkbox">
				<svg viewBox="0 0 32 32">
					<path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
					<path class="line" d="M7 16 27 16"></path>
				</svg>
			</label>
		</div>
		<div class="user header-dropdown">
			<button class="main-icon-button" id="user"><i class="user"></i></button>
			<div class="user header-dropdown-content">
				<div id="dropdown-tabs">
					{% if user_data %}
					<button class="user shadow-button" onclick="window.open('/profile/', '_self');">{{content.tabs[lang]["profile"]}}</button>
					<button class="user shadow-button" style="color: red" onclick="logout(this)">{{content.actions[lang]["logout"]}}</button>
					{%else%}
					<button class="user shadow-button" onclick="window.open('/login/', '_self');">{{content.actions[lang]["login"]}}</button>
					{%endif%}
				</div>
			</div>
		</div>        
		<div class="lang header-dropdown">
			<button class="main-icon-button" id="lang"><i class="lang"></i></button>
			<div class="lang header-dropdown-content">
				<div id="dropdown-tabs">
					<button class="lang {%if lang == 'EN' %} active {%endif%} shadow-button" onclick="toggleLang(`{{lang}}`)">English</button>
					<button class="lang {%if lang == 'AR' %} active {%endif%} shadow-button" onclick="toggleLang(`{{lang}}`)">العربية</button>
				</div>
			</div>
		</div>			
		<div class="theme-controller">
			<label for="theme" class="theme">
				<span class="theme__toggle-wrap">
					<input id="theme" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark">
					<span class="theme__fill"></span>
					<span class="theme__icon">
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
						<span class="theme__icon-part"></span>
					</span>
				</span>
			</label>
		</div>
	</div>
</header>
      <section>
        <div id="form" class="form">
          <h3>{{content.actions[lang]['signup']}}</h3>
          <div class="field-border">
            <input
              type="name"
              name="name"
              id="name"
              placeholder="{{content.placeholders[lang]['nameFieldPlaceholder']}}"
              class="single-line-field-awhite"
            />
          </div>
          <div class="field-border">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="{{content.placeholders[lang]['emailFieldPlaceholder']}}"
              class="single-line-field-awhite"
            />
          </div>
          <div class="field-border">
            <input
              type="tel"
              name="phone"
              id="phone"
              {% if lang == 'AR' %}
              dir="RTL"
                {% else %}
               dir="LTR"
              {% endif %}
              style="width: 100% !important;"
              placeholder="{{content.placeholders[lang]['phoneFieldPlaceholder']}}"
              class="single-line-field-awhite"
            />
          </div>
          <div class="field-border">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="{{content.placeholders[lang]['passwordFieldPlaceholder']}}"
              class="single-line-field-awhite"
            />
          </div>
          <div class="field-border">
            <input
              type="password"
              name="repassword"
              id="repassword"
              placeholder="{{content.placeholders[lang]['repasswordFieldPlaceholder']}}"
              class="single-line-field-awhite"
            />
          </div>
          <div id="actions">
            <button onclick="confirmation()" class="main-button">
              {{content.actions[lang]['signup']}}
            </button>
            <p id="status-msg"></p>
            <a href="/login/" class="shadow-button"
              >{{content.global_[lang]['alreadyHaveAccount']}}</a
            >
          </div>
        </div>
        <div class="form" id="email-validation-form">
          <h3>{{content.actions[lang]['validateYourEmail']}}</h3>
          <div id="otp" dir="ltr">
            <input type="number" class="otp-field" id="digit-0" />
            <input type="number" class="otp-field" id="digit-1" />
            <input type="number" class="otp-field" id="digit-2" />
            <input type="number" class="otp-field" id="digit-3" />
            <input type="number" class="otp-field" id="digit-4" />
            <input type="number" class="otp-field" id="digit-5" />
          </div>
          <div id="actions">
            <button onclick="codeValidation()" class="main-button">
              {{content.actions[lang]['Validate']}}
            </button>
            <p id="status-msg"></p>
            <div id="row-actions">
              <button class="shadow-button" id="send-code-again" onclick="sendCodeAgain();">
                {{content.actions[lang]['sendCodeAgain']}}
              </button>
              <div id="divider">|</div>
              <button class="shadow-button" id="change-email" onclick='window.open("./", "_self");'>
                {{content.actions[lang]['changeEmail']}}
              </button>
            </div>
          </div>
        </div>
        <div class="form" id="profile-picker">
          <h3>{{content.global_[lang]['profilePicture']}}</h3>
          <div class="image-picker"></div>
          <div id="actions">
            <p id="status-msg"></p>
            <button onclick="profilePicterComplete()" class="main-button">
              {{content.actions[lang]['submit']}} <span></span>
            </button>
            <button
              class="shadow-button"
              id="skip"
              onclick="profilePicterCompleteSkip()"
            >
              Skip
            </button>
          </div>
        </div>
        <div class="form" id="confirmation-form">
          <div id="body">
            <div id="cover"></div>
            <div id="profile"></div>
            <div id="information">
              <h3 id="name">This is my name</h3>
              <p id="email"></p>
              <br /><br /><br />
            </div>
          </div>
          <div id="actions">
            <p id="status-msg"></p>
            <button class="main-button">
              {{content.actions[lang]['submit']}}
            </button>
            <button class="shadow-button" onclick="window.open('/', '_self');">
              {{content.actions[lang]['cancel']}}
            </button>
          </div>
        </div>
      </section>
      <footer>
	<div class="footer-column" id="column-one">
		<img id="logo"></img>
		<div id="footer-msg">
			<h4>{{content.global_[lang]["footerMsg"]}}</h4>
		</div>
	</div>
	<div class="footer-column" id="column-two">
		<div id="tabs">
			<a class="footer-tabs-item" href="/">{{content.tabs[lang]["home"]}}</a>
			<a class="footer-tabs-item" href="/maintenance/">{{content.tabs[lang]["maintenance"]}}</a>
			<a class="footer-tabs-item" href="/spareParts/">{{content.tabs[lang]["spareParts"]}}</a>
			<a class="footer-tabs-item" href="/modernization">{{content.tabs[lang]["modernization"]}}</a>
			<a class="footer-tabs-item" href="/installations">{{content.tabs[lang]["installations"]}}</a>
			<a class="footer-tabs-item" href="/blog/">{{content.tabs[lang]["blog"]}}</a>
			<a class="footer-tabs-item" href="/contact/">{{content.tabs[lang]["contact"]}}</a>
			<a class="footer-tabs-item" href="/aboutUs/">{{content.tabs[lang]["aboutUs"]}}</a>
		</div>
		<div id="contact">
			<div id="links">
				<a href="/privacyPolicy/">{{content.tabs[lang]['privacyPolicy']}}</a>
				<a href="/termsAndConditions/">{{content.tabs[lang]['termsAndConditions']}}</a>
			</div>
			<div id="contact-info">
				<div id="contact-info-snippet">
					<i class="fa-solid fa-phone"></i>
					<p>{{layout.data['CONTACT']['PHONE']}}</p>
				</div>
				<div id="contact-info-snippet">
					<i class="fa-solid fa-envelope"></i>
					<p>{{layout.data['CONTACT']['EMAIL']}}</p>
				</div>
			</div>
			<div id="social-media">
				<a href="{{layout.data['CONTACT']['FACEBOOK']}}" class="footer-social-media-icon"><i class="fa-brands fa-facebook-f"></i></a>
				<a href="{{layout.data['CONTACT']['INSTAGRAM']}}" class="footer-social-media-icon"><i class="fa-brands fa-instagram"></i></a>
				<a href="{{layout.data['CONTACT']['LINKEDIN']}}" class="footer-social-media-icon"><i class="fa-brands fa-linkedin"></i></a>
				<a href="{{layout.data['CONTACT']['TIKTOK']}}" class="footer-social-media-icon"><i class="fa-brands fa-tiktok"></i></a>
				<a href="{{layout.data['CONTACT']['X-TWITTER']}}" class="footer-social-media-icon"><i class="fa-brands fa-x-twitter"></i></a>
			</div>
		</div>
		<div id="copyright">
			<p>{{content.global_[lang]["copyrightMsg"]}}</p>
		</div>
	</div>
</footer>
	<script type="text/javascript">
		const init= ()=> {
			document.firstElementChild.setAttribute('data-theme', '{{mode | lower}}');
			currentMode= '{{mode}}';
		}

		if (window.addEventListener) window.addEventListener('load', init);
		else if (window.attachEvent) window.attachEvent('onload', init);
	</script>
</body>
</html>